@media only screen and (max-width:1199px){
	h1, h1 a { font-size: 32px; line-height: 46px; }
	h2, h2 a { font-size: 30px;  }

	.header ul li a { font-size: 16px; padding: 18px 12px; }
	.midd-section h2 { font-size: 34px; }

	.user-profile { margin-bottom: 20px; padding: 10px 0; }
	.left-side-bar ul li a { padding: 6px 10px; }

	/* Freelancer Post*/
	.freelancer-banner form fieldset { width: 352px; }
	.freelancer-banner { padding: 150px 0; }
	.freelancer-title ul li a { font-size: 16px; }
	.freelancer-title ul li:first-child { width: 74%; vertical-align: top; }

	.freelancer-midd { padding: 106px 0; }
	
	/* After Regi */
	.mid-bar ul li a { padding: 10px 12px; }
	.mid-bar ul li a:before { padding-right: 10px; }

	.sticky { width: 100%; position: static; }
}

@media only screen and (max-width:1023px){
	h1, h1 a { font-size: 26px; line-height: 40px; }
	h2, h2 a { font-size: 24px; line-height: 32px; }

	.header ul { text-align: left; }
	.header ul li { display: block; border-bottom: 1px solid #5b6c90; }
	.header ul li a { color: #fff; padding: 10px 12px; }
	.header ul li a i { float: left; width: 30px; display: none; }

	.dropdown .img-circle { display: none; }
	.dropdown-toggle { background: #fff; color: #000 !important;}
	#notificationLink span { top: 8px; font-size: 16px; }
    .dropdown.dropdown-user i { float: right; width: auto; font-size: 20px; padding-top: 3px; }
    .dropdown-menu { display: block; background: none; width: 100%; position: inherit; box-shadow: none; }
    .header ul li.dropdown-user ul li a { font-size: 14px;  padding: 8px 10px;}

	.header ul li.dropdown-user a { padding: 10px 12px; }
	.pushmenu-left.pushmenu-open { background:#3b5283; box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5); }
	.buttonset { background: none; }
	.buttonset { background: #3b5283; top: -53px; width: 55px; right: 0; float: right; position: relative; height: 52px; padding: 12px;}
	.pushmenu-push-toright { left: 0; }

	.title-section { padding: 20px 0; }

	.midd-section h2 { font-size: 24px;}
	.midd-section { padding: 70px 0; }

	.footer { padding: 15px 0; }

	/* Freelancer Post*/
	.freelancer-banner  { padding: 110px 0; }
	.freelancer-banner form fieldset { width: 47%; }
	.freelancer-banner h2 { margin-bottom: 10px; }
	.freelancer-banner form fieldset.submit  { float: right; margin-top: 15px; }

	.user-midd-section { margin: 30px 0; }
	.freelancer-title ul li:first-child { width: 100%; }
	.freelancer-title ul li { padding: 6px 10px; }

	.freelancer-midd { padding: 141px 0; }
	/*.user-section-free-up{height: 0px;}*/

	/* After Regi */
	.mid-bar ul li { width: 50%; }
	.mid-bar ul li a { font-size: 20px; padding: 8px 10px; margin-left: 0px; }
	.role-model-normal { font-size: 20px; padding: 8px 10px; }
	
	/* Profile */
	.profile-banner { padding:125px 0; }
}

@media only screen and (max-width:767px){
	h1, h1 a { font-size: 24px; line-height: 36px; }
	h6, h6 a { font-size: 16px; }
	h4, h4 a { font-size: 18px; }

	p { font-size: 14px; }
	label { font-size: 14px; }

	.title-section { padding: 10px 0; }

	.midd-section h2 { font-size: 22px; margin: 15px 0; }
	.midd-section { padding: 40px 0; }

	.copyright { text-align: center; }
	.copyright ul { float: none; margin-top: 15px; }

	.job-post-detail { margin: 15px 0; }
	.role-model-detail { margin-bottom: 20px;  }

	.job-post-title { padding: 6px 15px; }
	.exper-location { padding: 6px 0; }
	.job-about { padding: 10px 15px; }

	/*.job-about ul li span { float: right; }*/
	.job-about ul li { font-size: 14px; margin: 0px 0 4px; padding: 0; /* display: inline-block;*/ }
	.job-about ul li label { margin: 0; }
	.apply-btn a { padding: 2px 25px 4px; }

	.exper-location ul li a { font-size: 14px; }
	.cover-picture, .profile-banner { padding: 120px 0; }

	/* Freelancer Post*/
	.found-result { padding: 20px 0 0; }
	.freelancer-post { margin: 10px 0; }
	.freelancer-banner form fieldset { width: 100%; margin-top: 10px; margin-left: 0; }
	.freelancer-banner form fieldset.submit { margin-right: 0; }
	.freelancer-banner { padding: 80px 0; }
	.shedule-interview { margin-top: 20px; } 

		/* After Regi */
		.second-mid-bar ul li{ margin-left: 0px;}
	.mid-bar ul li a { font-size: 18px;  padding: 20px 10px; margin-left: 0px;}
	.role-model-normal { font-size: 18px; padding: 8px 10px; }

	/* Profile */
	.profile-banner { padding:100px 0; }

	.left-side-bar { margin-bottom: 20px;  }
	.fixed { position: static; }
	.job-search-box { margin: 0px; }
	.job-search-box button { margin-top: 10px;  }
	.job-search-box fieldset { padding: 0; padding: 0 15px; }
	/*buisnessmenu*/
	.profile-main-box-buis-menu li a{padding: 23px 17px 22px 17px;}
	.bui-menu-profile{padding-left: 20px;}
}
@media only screen and (max-width:480px){
	
	/* Profile */
	.profile-banner { padding:90px 0; }	
	.mid-bar ul li { width: 100%; }

	.cover-picture, .profile-banner { padding: 90px 0; }

	.change-password-box { width: 100%; }
	.change-password { padding: 40px 0; }
	.change-password-box form { padding: 15px; }
}
@media only screen and (max-width: 479px){
	.apply-btn a { margin-bottom: 5px; }
	.pushmenu { width: 260px; }
}



@media only screen and(max-width:767px)
{
	
}