/* font-family: 'FontAwesome'; */
body { position: relative; font-size: 16px; color: #000; padding: 0; background-color: #fbfbfb; margin: 0; line-height: 22px;  font-family: 'Lato', sans-serif; }

p { margin: 0; padding: 0; }

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a { padding: 0; margin: 0; color: #000; }

h1, h1 a { font-size: 34px; line-height: 50px; }
h2, h2 a { font-size: 32px; line-height: 40px; }
h3, h3 a { font-size: 28px; line-height: 38px; }
h4, h4 a { font-size: 24px; line-height: 32px; }
h5, h5 a { font-size: 20px; line-height: 28px; }
h6, h6 a { font-size: 18px; line-height: 24px; }

ul, ol { margin: 0; padding: 0; }
ul li, ol li { margin: 0; padding: 0; }
img { max-width: 100%; height: auto; }

a { text-decoration: none; color: #3b5283; -moz-transition: all 0.4s ease-in; -webkit-transition: all 0.4s ease-in; -o-transition: all 0.4s ease-in; transition: all 0.4s ease-in; }
a:hover { text-decoration: none; color: #000; }
a:focus { outline: none; text-decoration: none;  }
[contenteditable]:active,
[contenteditable]:focus{
    border:none;
    outline:none;
}
.marquee-main {
    height: 50px;  
    overflow: hidden;
    position: relative;
}
.marquee-main h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: left;
    color: red;
    font-weight: 600;
    /* Apply animation to this element */  
    -moz-animation: marquee-main 5s linear infinite alternate;
    -webkit-animation: marquee-main 5s linear infinite alternate;
    animation: marquee-main 5s linear infinite alternate;
}
/* Move it (define the animation) */
@-moz-keyframes marquee-main {
    0%   { -moz-transform: translateX(70%); }
    100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes marquee-main {
    0%   { -webkit-transform: translateX(70%); }
    100% { -webkit-transform: translateX(0%); }
}
@keyframes marquee-main {
    0%   { 
        -moz-transform: translateX(70%); /* Firefox bug fix */
        -webkit-transform: translateX(70%); /* Firefox bug fix */
        transform: translateX(70%);    
    }
    100% { 
        -moz-transform: translateX(0%); /* Firefox bug fix */
        -webkit-transform: translateX(0%); /* Firefox bug fix */
        transform: translateX(0%); 
    }
}
.header3 {    margin-left: 50px;
              margin-right: 50px;
              padding: 0px -31px;
              background-color: #0a2c5d ;
              border-bottom: 1px solid #3b5283; }


.header3 ul { font-size: 0; margin: 0; padding: 0; }
.header3 ul li { list-style: none; display: inline-block; padding: 0; margin: 0; position: relative; }
.header3 ul li a { font-size: 18px; color: #ffffff;     font-size: 18px;
                   color: #ffffff;
                   padding: 7px 54px 10px;
                   font-weight: 400;
                   display: block; font-weight: 400; display: block;}
.header3 ul li a:hover { background: #ffffff; color: #3b5283; }
.header3 ul li a.active { position:relative; /*background:#3b5283; */  background:#ffffff; color: #3b5283;}
.header3  ul li:active a { background:#ffffff; color: #ffffff; }
/*header3*/

/* header2*/

.header2 ul { font-size: 0; margin: 0; padding-right: 15px; float: right; }
.header2 ul li { list-style: none; display: inline-block; padding: 0; margin: 0; position: relative; }
.header2 ul li a {  font-size: 15px; color: #fff; padding: 8px 16px 8px; display: block; }
.header2 ul li a i{font-size: 12px;padding-left: 10px; }

.header2 ul li a:hover {     background: #08234a;
                             color: #fff; }
.header2 ul li a.active { position:relative; /*background:#3b5283; */  background:#08234a; color: #ffffff;}
.header2  ul li:active a { background:#124da1; color: #ffffff; }

/* header2*/
.header2 {    margin-left: 50px;
              margin-right: 50px;
              padding: 0px -31px;
              background-color: #0a2c5d ;
}

/* Form Styling Start */
input, textarea, select {     background: white; border: 2px solid #cacaca; outline: none; padding: 8px 15px; color: #000; font-size: 14px; font-weight: 400; border-radius: 4px;  width: 100%; }
label { font-size: 16px; font-weight: 400; color: #616060; }
select  {padding: 8px 15px; font-size: 16px; }

input[type=submit], input[type=button], button { background: #3b5283; border: 2px solid #3b5283; color: #fff; font-size: 16px; font-weight: 400; cursor: pointer; border: 0; padding: 10px 30px 12px; letter-spacing: 1px;  margin-right: 15px;  -webkit-transition: all 0.4s ease-in-out;
                                                 -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; } 
input[type=submit]:hover, input[type=button]:hover, button:hover { background: #000; border-color: #000; }

input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="search"], textarea, select { -webkit-appearance: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"]{ -webkit-appearance:button; cursor:pointer; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="date"]::-webkit-search-decoration,
input[type="date"]::-webkit-search-cancel-button,
input[type="date"]::-webkit-search-results-button,
input[type="date"]::-webkit-search-results-decoration { display: none; }

fieldset { width: 50%; float: left; padding: 4px 8px; position: relative; }
fieldset.full-width ul.token-input-list { width:100%; border:2px solid #cacaca; border-radius:4px; }
fieldset ul.token-input-list li input { width:100% !important; padding:8px 15px; }
fieldset ul.token-input-list li { padding:0; margin:0; }
ul.nav li:hover li:active{
    background:blue;
}

.pb-50 { padding-bottom:50px; }
.pb-40 { padding-bottom:40px; }
.pb-30 { padding-bottom:30px; }

.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }



/* Form Styling End */

/* Ul Li & Ol Li CSS */
ul, ol { margin:0; padding:0 0 0 20px; }
ul li, ol li { margin:0 0 10px; padding:0; font-size:15px; color:#4c4c4c; font-weight: normal; }
ul li{padding-left: 12px;}
ol li{list-tyle:numaric;}

hr{ border: none; margin: 20px 0; background:#cacaca; height: 1px; }

.alignleft, img.alignleft { margin: 0px 46px 46px 0; display: inline;float: left; }
.alignright, img.alignright { margin-left: 65px; margin-bottom: 50px; display: inline; float: right; }
.aligncenter, img.aligncenter { margin-right: auto; margin-left: auto; display: block; clear: both; }

.fl { float:left; }
.fr { float:right; }

.navy-blue-bg { background: #3b5283; border-top: 1px solid #fff; }
.text-center { text-align: center; }
.font-white { color: #fff; }

.button { background: #3b5283; color: #fff; padding: 10px 50px; display: inline-block; border-radius: 4px; }
.button:hover { background:#6982b6; color:#fff; }


.back-btn, .back-btn input { min-width: 100px; margin-bottom: 15px; width: auto; padding: 6px 30px 8px; 	}


/* Common Style End */

.header { padding: 0; background: #fff;z-index: 1000; }
.logo { padding: 8px 0; }

.header { -webkit-transition: all 0.4s ease; transition: all 0.4s ease; background: #0c3168; }
.fixed { position: fixed; top:0; left:0; width: 100%; z-index: 10000; }


.header ul { font-size: 0; margin: 0; padding: 0; }
.header ul li { list-style: none; display: inline-block; padding: 0; margin: 0; position: relative; }
.header ul li a { font-size: 18px; color: #fff; padding: 16px 21px 20px; font-weight: 400; display: block;  }
.header ul li a:hover { background: #fff; color: #3b5283; }
.header ul li a i {padding-left: 10px;}
ul.sub-menu { display: none; position: absolute; top: 100%; right: 0; width: 274px; z-index: 2; box-shadow: 0px 0px 2px 0px #000; }
ul.sub-menu li { display: block; margin-bottom: 2px; }
ul.sub-menu li a { background: #f4f4f4; padding: 6px 15px; color: #3b5283; font-size: 16px; }
ul.sub-menu li a:hover { background: #e3e3e3; color: #3b5283; }
ul.sub-menu li a i { padding-right: 5px; }
.header ul li:hover .sub-menu {  display: block; }

.title-section { padding: 42px 0; }
.midd-section { background: url(../images/freelancer-bg.jpg) no-repeat; background-size: cover; padding: 100px 0; }
.midd-section h2 { font-size: 36px; margin-bottom: 30px; }
.freelancer-midd { padding: 70px 0 135px; 
                   height: 84%; }
.freelancer-midd .title-section { padding-bottom:114px; }

.footer-bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;}
.footer { background: #262626; padding: 30px 0; }
.footer-logo { padding-bottom: 15px; }
.footer ul { padding: 0; margin: 0; }
.footer ul li { list-style: none; color: #fff; font-size: 14px; font-weight: 300; padding: 1px 0; margin: 0; }
.footer ul li a { color: #fff; font-size: 14px; font-weight: 300; }
.footer ul li a:hover { color: #3b5283; }

.copyright { background-color: #222222; padding: 10px 0; }
.copyright p { color: #fff; padding-top: 6px; font-size: 14px; }
.copyright ul { float: right; padding: 0; margin: 0; }
.copyright ul li { list-style: none; display: inline-block; padding: 0; margin: 0; }
.copyright ul li a { background: #000; color: #3b5283; width: 33px; height: 33px; display: inline-block; border-radius: 50%; text-align: center; line-height: 2.3; font-size: 14px; margin: 0 4px;}
.copyright ul li a:hover { background: #3b5283; }

/* User Profile */
.user-profile { padding: 20px 0; border-bottom: 2px solid #f5f5f5; margin-bottom: 40px; }
.user-img .img-circle { width: 100px !important; height: 100px !important; border-radius: 100%; }

.user-detail { padding-top: 22px; padding-left: 15px; }
.user-detail span { font-size: 16px; font-weight: 400; }
.user-detail h6 { font-weight: 700; }

.left-side-bar ul { margin: 0; padding: 0; }
.left-side-bar ul li { list-style: none; margin: 0; padding: 0; }
.left-side-bar ul li a { background: #3b5283; padding: 10px 15px; display: inline-block; margin-bottom: 2px; color: #fff; display: block;}
.left-side-bar ul li a:hover { background: #000;text-decoration: none;}
.left-side-bar ul li.active { position:relative; background:#000; }
.left-side-bar ul li.active a { background:#000; }
.left-side-bar ul li.active:after { content:"\f00c"; font-family: 'FontAwesome'; position:absolute; top:11px; right:8px; color:#fff; }

.job-post-detail { border-radius: 4px; margin-bottom: 15px; border: 1px solid #ddd; }
.page-boxed .job-post-detail { border: 2px solid #cacaca; }

.job-post-title { padding: 10px 15px; }
.job-post-detail h6 a { color: #3b5283; font-size: 16px; text-transform: capitalize; }
.job-post-detail h6 a:hover { color: #000; }
.job-post-detail span { color: #3b5283; }

.exper-location { background: #efefef; padding: 10px 0; }
.exper-location ul { margin: 0; padding: 0; }
.exper-location ul li { list-style: none; display: inline-block; padding: 0 14px; margin: 0; }
.exper-location ul li a { text-transform: capitalize; }
.exper-location ul li i {  padding-right: 8px; }

.job-about { padding: 15px; }
.job-about ul { margin: 0; padding: 0; }
.job-about ul li { list-style: none; margin: 4px 0; clear: both; padding: 0; }
.job-about ul li label { float: left; width: 135px; font-weight: 600; }
.job-about ul li span { color: #545454; font-size: 14px; }
.salary-age { padding-top: 10px; }

.job-about ul li.salary-age { margin-top: 10px; }

.apply-btn { background: #efefef; padding: 8px 12px;/* text-align: right;*/ }
.apply-btn a { background: #ffffff; border: 1px solid #3b5283; color: #3b5283; border-radius: 4px; padding: 4px 20px 4px; display: inline-block; text-transform: capitalize; }
.apply-btn a:hover {  color: #fff; background: #3b5283; }

.role-model-title { background: #4f4f4f; color: #fff; padding: 8px 15px; }
.role-model-img img { width: 100%; }
.role-model-detail { background: #f6f6f6; padding: 10px; }

.add-post { display: block; }
.add-post a { background: #3b5283; color: #fff; padding: 8px 20px 10px; display: inline-block; margin-bottom: 15px; }
.add-post a:hover { background: #000; }

.dropdown .img-circle {  width: 25px; height: 25px; border-radius: 100%; }

.dropdown { position: relative; }
.dropdown-menu { position: absolute; }
ul.dropdown-menu li { display: block; }
ul.dropdown-menu li a { padding: 8px 14px; font-size: 16px; }
ul.dropdown-menu li a i { padding-right: 8px; }
.dropdown-menu:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent #fff;
    margin-top: -18px;
    margin-left: 99px;
}
/*.dropdown:hover .dropdown-menu { display: block; }*/
.header ul li.dropdown-user a { padding: 16px 18px; text-transform: capitalize;}

.header ul li.dropdown-user ul li a { padding: 8px 10px; color: #000; }
.header ul li.dropdown-user ul li a:hover { background: #3b5283; color: #fff; }

.panel-body { border:2px solid #ddd; border-top: 0; background-color: #ffffff; }
.panel-body label, .common-form fieldset label { margin: 0 0 8px; padding: 0; display: block;}
.two-select-box select { width: 50%; float: left; }
.common-form input[type=radio], .common-form input[type=checkbox] { width:auto; margin:0 2px; vertical-align:middle; display:inline-block; }

.form-title h3 { background: #3b5283; color: #fff; padding: 8px 20px;}

/* Freelancer Post*/
.user-midd-section { margin: 15px 0;  }
.post-midd-section{ margin: 50px 0;}
.freelancer-banner { background: url(../images/freelancer-banner-bg.jpg) no-repeat; background-size: cover; padding: 160px 0; }
.freelancer-banner h2 { color: #fff; margin-bottom: 30px; margin-left: 10px; }
.freelancer-banner form  { padding-left: 110px; }
.freelancer-banner form fieldset { width: 358px; float: left; margin: 0 10px; }
.freelancer-banner form fieldset.submit { width: 175px; }
.freelancer-banner form fieldset.submit input { background: #3b5283; color: #fff; font-size: 20px; }
.freelancer-banner form fieldset.submit input:hover { background: #000; }
.freelancer-banner form input { background: rgba(255,255,255,0.6); outline: none; border: 0; padding: 10px 20px; color: #747474; font-size: 16px; width: 100%; border-radius: 4px; }

::-webkit-input-placeholder { color: #747474; }
::-moz-placeholder { color: #747474; }
:-ms-input-placeholder { color: #747474; }
:-moz-placeholder { color: #747474; }

.found-result { color: #a2a2a2; font-size: 16px; }

.freelancer-post { border: 2px solid #f5f5f5; border-radius: 4px; margin: 20px 0; }

.freelancer-title ul { padding: 0; margin: 0; }
.freelancer-title ul li { display: inline-block; list-style: none; padding: 10px; margin: 0; }
.freelancer-title ul li:first-child { width: 78%; }
.freelancer-title ul li a { font-size: 18px; }

.freelancer-post-detail p { padding: 10px; font-size: 14px; }
.freelancer-post-detail span { font-size: 14px; background: #f1f1f1; display: block;  padding: 6px 10px; }
.freelancer-post-location { padding: 10px; color: #3c3c3c; font-size: 14px; }
.freelancer-post-location i { padding-right: 5px; }

.shedule-interview { margin-top: 40px; }
.shedule-interview a { background: #000000; color: #fff; padding: 8px 20px; border-radius: 4px; display: block; text-align: center; }
.shedule-interview a:hover {  background: #3b5283; }


.freelancer_work_detail ul { margin: 0; padding: 0 0 0 15px; }
.freelancer_work_detail ul li { list-style: none; display: inline-block; margin: 0; padding: 5px; }


/* Registration Page */
.registration { padding: 60px 0; }
.registration h4 { background: #3b5283; padding: 8px 15px 11px; color: #fff; }
.registration form { padding: 15px; border: 1px solid #ddd; border-top: 0; }
.registration form fieldset { width: 50%; }

.radio {  margin-top: 4px; }
.radio span { display: block; margin-bottom: 5px; }
.radio input { width: auto; float: left; }
.radio input[type=radio] { margin: 5px 0 0; }
.radio label { margin-left: 0px; margin-right: 10px; }

.submit { float: right; }
.submit input { width: auto; float: right; }

/* Home */
.home { background: url(../images/Home-page-bg.jpg) no-repeat center center; background-size: cover;  }
.home .header { background: rgba(255,255,255,0.6); border-bottom: 0; }
.home-main-section { padding: 214px 0 100px;  }
.home-main-section ul { padding-left: 192px; }
.home-main-section ul li { list-style: none; font-weight: 700; color: #0f1f42; font-size: 36px; margin: 10px 0; letter-spacing: 2px; }

.home .copyright { background: rgba(34,34,34,0.4); }
.home .copyright ul li a { opacity: 0.6; }

/* Freelance Post Detail */
.freelance-post-detail { margin: 50px 0; }
.freelance-post-detail h2 { margin-bottom: 15px; }
.freelance-post-box { padding: 15px; background: #f5f5f5; }
.freelance-post-box h6 { margin-bottom: 15px; }
.freelance-post-box p { margin-bottom: 6px; }
.freelance-post-box ul { padding: 0; margin: 0; }
.freelance-post-box ul li { list-style: none;  padding: 0; margin: 0; float: left; }
.freelance-post-box ul li input { width: 100px; margin-left: 15px; }
.freelance-post-box ul li:first-child { margin-top: 10px; }

.freelance-post-box fieldset { width: 100%; margin: 0 0 10px; padding: 0; }
.freelance-post-box fieldset textarea { min-height: 120px; }
.freelance-post-box form p { padding: 10px 0; font-size: 14px; line-height: 18px; }
.freelance-post-box fieldset input[type=submit], .freelance-post-box fieldset input[type=button]  { width: 200px;  }
.freelance-post-box fieldset button { width: auto; background: none; font-size: 14px; color: #262626; }
.freelance-post-box fieldset button:hover { color: #3b5283; }

/* CV Form Page */
.cv-section { margin: 50px 0; }

.left-cv { margin: 0; padding: 0; }
.left-cv li { margin: 0; padding: 0; list-style: none; margin-bottom: 2px; }
.left-cv li a { background: #ececec; padding: 8px 20px; color: #363636; font-size: 16px; display: block; }
.left-cv li a:hover { background: #3b5283; color: #fff; }

.left-cv li:last-child a { background: #49556d; padding: 10px 20px; text-align: center;color: #fff; }
.left-cv li:last-child i { padding-right: 8px; }
.left-cv li:last-child a:hover { background: #3b5283; }

.cv-form form { border: 2px solid #ececec; padding: 15px; }
.cv-form h3 { background: #3b5283; color: #fff; padding: 8px 20px; }
.cv-form input[type=submit], .cv-form input[type=button], .cv-form button { width: auto; float: right; margin-right: 0; margin-top: 10px; }

ul.cv-btn { margin:0 0 25px 0; padding: 0; float: right; }
ul.cv-btn li { margin: 0; padding: 0; list-style: none; display: inline-block; }
ul.cv-btn li a { background: #363636; border-radius: 4px; color: #fff;  padding: 10px 25px 12px; display: inline-block; font-size: 18px; }
ul.cv-btn li a:hover { background: #3b5283; }
ul.cv-btn li a i { padding-right: 6px; }

/* ART INFO */
.common-form h3 { background: #3b5283; margin: 0; padding: 6px 15px 8px;  color: #fff; font-size: 20px; line-height: 28px; }
.common-form form { border: 2px solid #ddd; border-top: 0; padding: 10px;     background-color: white;}
fieldset.full-width { width: 100%; }

.hs-submit { float: right; text-align: right; }
.hs-submit input { min-width: 150px; width:auto; text-align: center; font-size: 18px; margin-top: 10px; border-color: #3b5283; text-transform:capitalize; }
.hs-submit input[type=reset] { border-color: #3b5283; color: #3b5283; padding: 8px 12px 11px; }
.hs-submit input[type=reset]:hover { background: #3b5283; color: #fff; }

.hs-submit a { background: #3b5283; border: 2px solid #3b5283; color: #fff; font-size: 18px; font-weight: 400; cursor: pointer; border: 0; padding: 10px 30px 12px; letter-spacing: 1px; margin-right: 15px; border-radius: 4px; } 
.hs-submit a:hover { background: #000; border-color: #000; }

/* Popup CSS */
#popup { display: none; }
.fancybox-inner {overflow:inherit !important; }

.mid-bar ul { margin: 0; padding: 0; }
.mid-bar ul li { list-style: none; float: left; width: 33.33%; text-align: center; margin: 0; padding: 0 5px 10px; }
/*.mid-bar ul li a { font-size: 22px; border: 1px solid #3b5283; background-color: #3b5283; color: white; display:  block; padding: 12px 20px; border-radius: 4px; line-height: normal; font-weight: normal; }
*/.mid-bar ul li a:hover { background: #3b5283; color: #fff; }
.mid-bar ul li a:before { content: "\f0f4"; font-family: 'FontAwesome'; padding-right: 15px; }

.role-model-normal { font-size: 22px; border: 1px solid #3b5283; color: #3b5283; padding: 12px 20px; border-radius: 4px; }
.role-model-normal .role-model-title { color: #3b5283; background: none; padding: 0; text-align: center; }

/* Developer */
.form-group { margin-bottom: 0; }

.has-error input, input.error, select.error, .has-error textarea, textarea.error { border: 2px solid #ff0000; }
.has-error label, .error { color: #ff0000 !important; font-size: 14px; }
.has-error label, .error option{ color: #000000 !important; font-size: 14px; }
.my-error-class { color:red; }
.my-valid-class { color:green; }


/* Login Page */
.login-page { background:#f4f4f4; postion:relative; }
.logo-login { margin-bottom:20px; }
.login { width:50%; background:#fff; border:1px solid #ddd; padding:20px; text-align:center; position:absolute; top:50%; margin:auto; margin-top:-231px; left:0; right:0; height:462px; }
.login input[type=text], .login input[type=password] { background:#fff; border:0; border:1px solid #ddd; margin:8px 0;} 
.Forgot-password a { font-size: 14px; font-weight: 700; margin: 10px 0; display: block; }
.login input[type=submit]:hover { background:#089de3; }

.login-with-social ul { margin:0; padding:0; }
.login-with-social ul li { list-style:none; padding:0; }
.login-with-social ul li a { color:#fff; background:#3b5283; display:block; padding:10px; border-radius:4px; letter-spacing:1px; }
.login-with-social ul li a:hover { text-decoration:none; }
.login-with-social ul li a i { padding-right:5px; }
.login-with-social ul li.facebook a { background:#3b5998; }
.login-with-social ul li.twitter a { background:#00aced; }
.login-with-social ul li.facebook a:hover, .login-with-social ul li.twitter a:hover { background:#3b5283; }

/* Error MSG Stylign */
.error-msg input { border:2px solid #f00; }
.error-msg p, label.error { background: #737373; color: #fff !important; padding: 4px 10px !important; position: absolute; right: 8px; z-index: 10; font-size: 12px; }

.error-msg select { border:2px solid #f00; }


/* Profile */
.cover-picture, .profile-banner { background: url(../images/16128502_1322030877858370_27811870_n.jpg) no-repeat center; background-size: cover; padding: 165px 0; position: relative;border: 1px solid #000;
                                  border-color: rgba(0, 0, 0, .10); border-top-color: rgba(0, 0, 0, .1); }
.cover-picture:after, .profile-banner:after { background: rgba(76,76,76,0.02);
                                              background: -moz-linear-gradient(top, rgba(76,76,76,0.02) 0%, rgba(19,19,19,0.1) 100%);
                                              background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,0.02)), color-stop(100%, rgba(19,19,19,1)));
                                              background: -webkit-linear-gradient(top, rgba(76,76,76,0.02) 0%, rgba(19,19,19,0.1) 100%);
                                              background: -o-linear-gradient(top, rgba(76,76,76,0.02) 0%, rgba(19,19,19,0.1) 100%);
                                              background: -ms-linear-gradient(top, rgba(76,76,76,0.02) 0%, rgba(19,19,19,0.1) 100%);
                                              background: linear-gradient(to bottom, rgba(76,76,76,0.02) 0%, rgba(19,19,19,0.1) 100%);
                                              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
                                              display: block; width: 100%; height: 10%;  content: ""; position: absolute; bottom: 0; left: 0; }

.cover-picture-icon { display: none; }
.cover-picture:hover .cover-picture-icon { display: block; position: absolute; font-size: 30px; color: #000; left: 0; right: 0; margin: auto; text-align: center; }



#row1 { position: relative; height: 350px; overflow: hidden; }

.cover-pic { position: absolute !important; left: 25px; top: 0; z-index: 99; }
.cover-pic .btn { display: block; }
.croppie-container .cr-viewport { border-color:#f4f4f4; }
.upload-img { z-index: 9;  margin-top: -75px !important; }


.profile-photo { position: relative; z-index: 1; }
.profile-text { color:#aba2a2; font-size:16px; }
.profile-head-text { padding-top:6px; }
.profile-pho { height:160px; width:160px; background-color: #ffffff; margin-left: 40px; margin-top:-80px; border: 4px solid #ffffff; box-shadow: 0px 0px 2px 2px #dad3cb; }
.profile-pho-bui { height:160px; float: left;     position: relative;
                   z-index: 3; display: inline-block; width:160px; background-color: #ffffff; margin-left: 40px; margin-top:-8px; border: 4px solid #ffffff; box-shadow: 0px 0px 2px 2px #dad3cb; }

.profile-main-pho { height:160px; width:160px; margin:0 auto; background-color: #ffffff; margin-top:-73px; border: 4px solid #ffffff; box-shadow: 0px 0px 2px 2px #dad3cb; }
.user-pic { height:152px; width:153px; overflow: hidden; }
.user-pic img{ height:100%;  width: 100%; overflow: hidden; }
.user-pic-picture .user-pic {  height:152px; width:153px; overflow: hidden; }
.user-pic-picture .user-pic img{height:100%; width: 100%; overflow: hidden; }

.profile-page .left-side-bar {  width: 25%; margin: auto; padding-top: 40px; }

.profile-page .container { width:1250px; border-left:1px solid #ddd; border-right:1px solid #ddd; padding:0 !important; }
.profile-page footer .container, .profile-page header .container { border:0; }
.profile-page .user-midd-section { margin:0; }
.profile-page .user-midd-section .row { margin:50px 0; }

.add-edit-btn { margin-bottom:15px; border-radius:4px; }
.add-edit-btn .apply-btn { background:none; margin:0; padding:0; }

.user-pic { position: relative; z-index: 3; }
.user-pic a { position: absolute; display: none; }
.user-pic a i { padding-right: 4px; }
.user-pic:hover a { display: block; bottom: 0; background: rgba(0,0,0,0.6); color: #fff; padding: 4px 6.9px; font-size: 12px; }

#popup-form { display: none; width: 616px; height: 250px; }
#popup-form input[type=file] { width: 100%; }
#popup-form input[type=submit] { float: right; width: auto; margin:10px 0; margin-right: 10px; } 
#popup-form img { max-width: 180px; height: 200px; margin-top: 10px; }

.fancybox-overlay { background: rgba(0,0,0,0.4); }

/* Business Profile */
ul.business_profile_post_btn { margin:0; padding:0; }
ul.business_profile_post_btn li { margin:0; padding:0; list-style:none; display:inline-block; }
ul.business_profile_post_btn li a { text-transform: capitalize; border: 1px solid #3b5283; padding: 8px 18px; display: inline-block; border-radius: 4px; margin: 6px; }
ul.business_profile_post_btn li:first-child a { margin-left:0; }
ul.business_profile_post_btn li:last-child a { margin-right:0; }
ul.business_profile_post_btn li a:hover { background:#3b5283; color:#fff; }
.business_profile_post_img { margin:10px 0; /* width:270px; margin:5px; */ }

.business_profile_comment_post { display:block; border-bottom:2px solid #cacaca; padding:0 0 15px; margin-bottom:15px; text-transform: capitalize; }
/*.business_profile_comment_post form { margin-top:20px; }*/
.business_post_commnet_header { margin:0; padding:10px; background:#efefef; }
.comments_post_content { padding:10px; display:block; clear:both; width:100%; }

.business_post_commnet_name, .business_post_commnet_header_date { font-size:14px; }

.business_profile_comment_post a { margin-left:10px; padding:3px 16px 5px; font-size:14px; }
.business_profile_comment_post p { font-size:14px; }

.business_pf_ct_person_form { border:2px solid #cacaca; padding:10px; border-radius:4px;  }
.business_pf_ct_person_form h3 { background:#3b5283; padding:12px; margin:-11px -11px 20px; color:#fff; }

ul.business_pf_ct_person_detail, ul.artistic_pf_ct_person_detail { margin:0; background:#f8f8f8; padding:8px 15px; margin:15px 0; }
ul.business_pf_ct_person_detail li, ul.artistic_pf_ct_person_detail { list-style:none; padding:0; }
ul.business_pf_ct_person_detail li b {font-size: 16px; display: inline-block; width: 30%;}
#notificationLink { position:relative; z-index:1; }
#notificationLink span {    
    padding: 3px;
    background: #0c3168;
    color: #ffffff;
    font-weight: bold;
    margin-left: 7px;
    /* border-radius: 80%; */
    -moz-border-radius: 9px;
    -webkit-border-radius: 2px;
    position: absolute;

    margin-top: -2px;font-size: 10px;
    top: 9px;
    line-height: normal;
    right: 11px;}

#notificationLink:hover span { background:#3b5283; color:#fff; z-index:-1; }

/* Artistic */
.artistic_commentpost { font-size:14px ;}
.artistic_commentpost { border-bottom:2px solid #ddd; padding-bottom:14px; margin-bottom:15px; }
.artistic_commentpost_comment { padding:8px 0 10px; width:100%; clear:both; }

.like_button { color:#fff; background:#262627; font-size:16px; padding:6px 12px 7px; border-radius:2px; display:inline-block; }
.like_button i { font-size:18px; padding-right:4px; }
.like_button:hover { color:#fff; }

.job-post-detail .job-post-title .job-profile-menu ul { list-style: none; display: block; width: 100%; clear: both; padding: 4px; margin-left: 8px; }
.job-post-detail .job-post-title .job-profile-menu li a { display: block; text-decoration: none; }
.job-post-detail .job-post-title .job-profile-menu ul li b { width: 30%; display: inline-block; }
.job-post-location-name { background: #efefef; padding: 10px 21px; padding-bottom: 30px;  font-weight: bold;  }
.job-post-detail .job-post-title .button { padding: 6px 16px; text-transform: capitalize; }
.job-post-detail .job-post-title .button:hover { color: #ffffff; background-color: #000; }
.job-post-title-inside .job-post-title { padding: 0px; }
.job-profile-button { margin-left: 18px; }


.user-midd-section .khyati { pointer-events:none; }


.artistic_commentpost { font-size:14px ;}
.artistic_commentpost { border-bottom:2px solid #ddd; padding-bottom:14px; margin-bottom:15px; }
.artistic_commentpost_comment { padding:8px 0 10px; width:100%; clear:both; }

.like_button { color:#fff; background:#262627; font-size:16px;  padding:6px 12px 7px; border-radius:2px; display:inline-block; }
.like_button i { font-size:18px; padding-right:4px; }
.like_button:hover { color:#fff; }

.job-post-detail .job-post-title .job-profile-menu ul { list-style: none; display: block; width: 100%; clear: both; padding: 4px; margin-left: 8px; }
.job-post-detail .job-post-title .job-profile-menu li a { display: block; text-decoration: none; }
.job-post-detail .job-post-title .job-profile-menu ul li b { width: 30%; display: inline-block; }
.job-post-location-name { background: #efefef; padding: 10px 21px; padding-bottom: 30px;  font-weight: bold;  }
.job-post-detail .job-post-title .button { padding: 6px 16px; text-transform: capitalize; }
.job-post-detail .job-post-title .button:hover { color: #ffffff; background-color: #000; }
.job-post-title-inside .job-post-title { padding: 0px; }
.job-profile-button { margin-left: 18px; }

/*  contact */
.delete-contact{float:right; }
.contact-frnd:hover {background-color:#efefef;}
.contact-frnd-post{padding:10px;     background-color: white; }
.contact-frnd{height:90px; width:100%; margin-bottom:10px; background-color:#ffffff; margin-right:10px; border: 1px solid #ededed;}
.contact-img{ }
.contact-img img { padding-right:10px; height:88px; width:90px; float:left;}
.contact-search-box{ float:right; }
.contact-frnd-post .contact-frnd .button{float:right; margin-top:4px; margin-right:2px;}
.contact-frnd-post .contact-frnd .button a{color:#FFFFFF; padding:0px;}
.contact-frnd-text{  padding:2px;}
.contact-frnd-text h6 { color:#3b5283; }
.contact-frnd-text p { font-size:12px; }
.contact-head { background:#3b5283; padding:3px; }
.contact-head h3 { color:#FFFFFF; float:left; }
.search-contact { float:left; margin-top:10px; background-color:#FFFFFF;  }
.contact-btn{ float:right; margin-top:2px; padding-left:2px; }
.contact-btn .fa-search { font-size:20px; }
.search-contact input[type="text"] { height:30px; }
.delete-contact select { padding:0px; }



.job-search-box1 button {     padding: 5px 15px;   border-radius: 4px;
                              margin-top: 0px; color: #3b5283; padding-left: 15px; background-color: #ffffff; padding-right: 15px; margin-right: 0; }
.job-search-box1 input {
    background: none;
    border: 2px solid #cacaca;
    outline: none;
    background-color: #ffffff;
    padding: 3px 15px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    width: 100%;
}
.job-search-box1 fieldset { padding-left: 16px; padding-right: 0px;}




/*.mid-bar ul li  {
  list-style: none; display: inline-block; padding: 0; margin: 0; position: relative;
  float: left;
  position: relative;
     margin-left: 10px;
  
}
*/

.mid-bar ul li a{  font-weight: 600;text-decoration: none; display: block; color: white; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                   width:100%; font-weight: 600; text-align: center; 
                   border-radius: 10px 10px 10px 10px; 
                   background-color:#3B5283;
                   text-shadow: 1px 1px 2px black, 0 0 50px white, 0 0 5px darkblue;
                   padding:66px 0px 66px 0px;
                   font-size: 36px;
                   margin: 0 0 30px 0;
                   color: white;

                   color: #fff; 
                   display: inline-block;
                   vertical-align: middle;
                   -webkit-transform: perspective(1px) translateZ(0);
                   transform: perspective(1px) translateZ(0);
                   box-shadow: 0 0 1px transparent;
                   position: relative;
                   -webkit-transition-duration: 0.3s;
                   transition-duration: 0.3s;
                   -webkit-transition-property: transform;
                   transition-property: transform; }

.mid-bar ul li a:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;


    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background:radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%,transparent 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.mid-bar ul li a:hover, .mid-bar ul li a:focus, .mid-bar ul li a:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.mid-bar ul li a:hover:before, .mid-bar ul li a:focus:before, .mid-bar ul li a:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.header-left-menu{z-index: 10;}
.second-mid-bar{}
.second-mid-bar ul li{ margin-left: 76px; margin-right: -76px;}

.second-mid-bar ul li a { margin-left: 100px; width: 100% } 
/* job-post*/
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul { list-style: none; display: block; width: 100%; clear: both; padding:10px 4px 6px; margin-left: 4px; }
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu li a {  text-decoration: none; }
.profile-job-post-location-name ul li h6 {font-weight: 600; font-size: 15px;}
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li b {font-weight: 600; width: 30%; display: inline-block; }
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li span::before { 
    content: " :"; padding-right: 20px; }
.profile-job-post-location-name { padding: 12px 21px; font-weight: bold; }

.profile-job-post-location-name ul { padding: 0; font-size: 0; }
.profile-job-post-location-name ul li { padding: 0 20px 0 0; margin: 0; list-style: none;  }
.profile-job-post-location-name ul li i { padding-right: 5px; }

.profile-job-post-location-name-rec ul { padding: 0; font-size: 0; }
.profile-job-post-location-name-rec ul li { padding: 0 20px 0 0; margin: 0; list-style: none;  display: inline-block;}
.profile-job-post-location-name-rec ul li i { padding-right: 5px; }

.profile-job-details { float:left; padding-left:20px; }
.profile-job-post-detail .profile-job-post-title .button { margin-right: 4px; margin-left: 4px; padding: 6px 16px;  background-color:#ffffff; text-transform: capitalize; color:#3b5283; border:2px solid #3b5283; float: right;}
.profile-job-post-detail .profile-job-post-title .button:hover { color: #fff; background-color: #3b5283; }
.profile-job-post-title-inside .profile-job-post-title { padding: 0px; margin-bottom: 18px; }
.profile-job-profile-button { background-color:#efefef; padding: 4px 0px; }
.profile-job-details p { color: #3b5283; }
.profile-job-details p  i{ margin-right: 10px; margin-left: 10px; }


/* job */
.job-contact-frnd .profile-job-post-detail { background-color:#ffffff; border: 1px solid #bfbfbf; border-radius: 4px; margin-bottom: 15px; }
.job-saved-box { border:2px solid #cccccc;  }
.job-profile-photo { position: relative; z-index: 1; }
.profile-text1 { color:#aba2a2; font-size:32px; cursor: pointer; padding-top: 10px;}
.profile-text1 p{ color:#aba2a2; font-size:32px;  cursor: pointer; }
.profile-text a{ color:#aba2a2;  color:#000000; font-size:19px; padding-right: 44px; padding-top: 5px;  cursor: pointer; }

.profile-text {  color:#aba2a2; font-size:18px; padding-right: 70px; padding-top: 0; }
.profile-text p { font-weight: 400 !important; font-size: 22px;padding-right: 28px; color: #000; }
.profile-head-text {font-size: 25px; font-weight: 600; word-spacing: 10px;}
.profile-head-text a {font-size: 32px;    text-shadow: 0px 10px 26px rgba(230, 230, 230,0.4), 0px 8px 7px rgba(0,0,0,0.1), 0px 11px 14px rgba(230,230,230,0.9) }
.main-font-name h5{ font-weight:600; margin-top: 14px; font-size: 35px;}
.main-font-name p {font-size: 25px; margin-top: 12px;}	

.job-profile-pho{height:180px; width:158px; margin-top:-100px; border: 4px solid #FFFFFF; box-shadow: 0px 0px 2px 2px #dad3cb; margin-left:40px; }
.job-profile-left-side-bar .left-side-bar ul li.active { position:relative; background:#000; }
.job-profile-left-side-bar .left-side-bar ul li.active a { background:#000; }
.job-profile-left-side-bar .left-side-bar ul li.active:after { content:"\f00c"; font-family: 'FontAwesome'; position:absolute; top:11px; right:8px; color:#fff; }

.job-search-box button { margin-top: 26px; padding-left: 15px; padding-right: 15px; margin-right: 0; }
.job-menu-profile { float: left; padding-left: 40px; width: 22.5%; margin-top: 0px; }
.bui-menu-profile{/*    
text-align: center*/;
    /* height: 8%; */

    float: left;
    padding-left:120px;
    padding-right: 10px; 
    /* margin-top: -19px; */}
.job-menu-profile h5 { text-transform: capitalize; font-size: 25px; font-weight: 600; }

.job-search-box fieldset { padding-left: 16px; padding-right: 0px; }
.job-search-box fieldset input[type=submit]{margin-top:27px;     padding: 8px 30px 8px 28px;}
.profile-page .user-midd-section .news-feed-post .row { margin:0px; }

.profile-job-details ul { padding: 0px; margin: 0; }
.profile-job-details ul li { list-style: none; display: inline-block; position: relative; padding-left: 0px; margin: 0; }
.profile-job-details ul li a {  padding-left:0px; font-weight: bold; display: block;}
.profile-job-details ul li p { margin-bottom: 0; }

.profile-job-details { font-size:18px; }

.rec-edit-profile{margin-top: -32px; margin-right: 20px;}
.rec-edit-profile a{color: #ffffff; padding-bottom: 5px;} 
ul.buttons { padding: 4px 0 4px 10px; color: white; }
ul.buttons li { list-style: none; display: inline-block; padding: 0; margin: 0; position: relative; }
/* resume-menu*/ 

.resume-download-menu  ul { padding: 0; margin: 0;  float: right;  }
.resume-download-menu ul li { list-style: none; display: block;  padding: 0; margin: 0; float: left; }
.resume-download-menu ul li { list-style: none;  display: inline-block; padding: 0; margin: 0; position: relative; }
.resume-download-menu ul li a { font-size: 18px; color: #ffffff; margin: 10px; margin-bottom: 40px; background-color: #323335; padding: 16px 21px; font-weight: 400; display: block;}
.resume-download-menu ul li a:hover { background: #3b5283; color: #fff; }




/* resume*/
.resume-side-top-cont{width:100%; height:40px; background-color:#548ac8; float:left;}
.resume-side-left-cont{ height:1300px; background-color:#e2e8f0; float:left; padding: 20px;}
.resume-image{margin-top: 38px; margin-left: 48px; margin-bottom: 30px;}
.resume-image img{   border-radius: 100%;
                     -webkit-border-radius: 100% ; height:300px; width:70%; border: 1px solid #f5f5f5; margin-right:8px; }
.resume-side-mid-cont{ height:1000px; background-color:#FFFFFF; float:left;  padding: 15px;}
.resume-inside-content{ height:auto; width: auto; margin-left: 10px; margin-right: 20px; margin-top: 25px; margin-left: 20px;  }
.resume-top-con{float:right; height:auto; background-color:#FFFFFF; font-size:50px;}
.resume-side-right-cont{ height:1000px; background-color:#FFFFFF; float:left; padding: 15px;}
.resume-side-bottom-cont{width:100%; height:40px; background-color:#548ac8; float:left;}
.logo-footer{float:right; height:10px; width:130px; margin-top:10px;}
.left-resume-input{width:50%;float: left;    
}
.resume-mid-con{ width:60%px; height:auto;  margin-left: 60px; 	 border-left: 2px solid #000000; margin-top: -29px; position: relative;}
.resume-mid-con:before{ position: absolute;  width: 10px; margin-top:-15px; margin-left: -4px;
                        height: 10px;
                        background: #3b5283;
                        border-radius: 70px;
                        content: ""; 
}
.resume-inside-content p   
{border-bottom: 1px dotted #000; padding-top: 5px; padding-bottom: 5px;}

.resume-inside-content h6{   
    border-bottom: 1px dotted #000; padding-top: 5px; padding-bottom: 5px;}

.resume-inside-content{}
.resume-inside-content h5 { font-weight: bold; color: #3b5283;}
.resume-mid-con p{border: none;} 
.resume-side-mid-cont h5{font-weight: bold; color: #3b5283;   margin-top: 10px; margin-left: 6px;}
.resume-sqaure{
    width: 50px;
    height: 30px;
    background: #3b5283;
    margin-top: 10px;
    margin-left: 6px;


    -webkit-clip-path: polygon(0% 0%, 70% 0%, 100% 50%, 70% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 70% 0%, 100% 50%, 70% 100%, 0% 100%);}
.resume-inside p{   
    border-bottom: 1px dotted #000; padding-top: 5px; padding-bottom: 5px;}

.resume-inside h6{   
    border-bottom: 1px dotted #000; padding-top: 5px; padding-bottom: 5px;}
.resume-inside{margin-top: 50px;}
.resume-mide-con{ margin-top:25px; }
.progressbar{  text-align: right; float: right;}
.resume-top-con-head{padding: 25px; width:65%; height:150px; float: right;}
.resume-top-con-head h1{color: #3b5283; margin: 0 auto; font-size: 40px;}
.resume-top-con-head h3{color: #3b5283; margin: 0 auto; font-size: 30px; }
.resume-sqaure p{color: white; padding-top: 5px; margin-left: 2px;}
.resume-declartion{padding: 20px; width:800px; height:80px; float: right;}
.resume-declartion h5{color: #3b5283; font-weight:bold;}
/* Change Password */
.change-password { padding: 80px 0; text-align: center; }
.change-password-box { width: 500px; margin: auto; }
.change-password-box fieldset { margin-bottom: 4px; }
.change-password-box form { text-align: left; border: 1px solid #ddd; padding: 20px; }
.change-password-box h4 { background: #3b5283; color: #fff; padding: 6px 15px; margin-bottom: 20px; text-align: center; }
.change-password-box .hs-submit input { min-width: 100px; font-size: 16px; }


.freelancer_apply_post { border: 1px solid #ddd; margin-bottom: 15px; padding: 15px; }
.comment-post-detail { border-radius: 4px; margin-bottom: 15px; border: 1px solid #ddd; }

/* Freelancer Apply List */
.freelancer_apply_list { margin: 0 0 15px; padding: 15px; border-radius: 4px; border: 1px solid #ddd; }
.freelancer_apply_list ul { margin: 0 0 10px; padding: 0;	 }
.freelancer_apply_list ul li { margin: 0; padding: 0; list-style: none;}
/* chat*/
.chat img{height: 30px; float: left;}
.left-side-bar ul li .friend-list strong {margin-left: 10px;}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.collapsed-box .box-body, .box.collapsed-box .box-footer {
    display: none;
}
.box .nav-stacked>li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
}
.box .nav-stacked>li:last-of-type {
    border-bottom: none;
}


.box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
}
.box .border-right {
    border-right: 1px solid #f4f4f4;
}
.box .border-left {
    border-left: 1px solid #f4f4f4;
}
.box.box-solid {
    border-top: 0;
}
.box.box-solid>.box-header .btn.btn-default {
    background: transparent;
}
.box.box-solid>.box-header .btn:hover, .box.box-solid>.box-header a:hover {
    background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
    border: 1px solid #d2d6de;
}
.box.box-solid.box-default>.box-header {
    color: #444;
    background: #d2d6de;
    background-color: #d2d6de;
}
.box.box-solid.box-default>.box-header a, .box.box-solid.box-default>.box-header .btn {
    color: #444;
}
.box.box-solid.box-primary {
    border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}
.box.box-solid.box-primary>.box-header a, .box.box-solid.box-primary>.box-header .btn {
    color: #fff;
}
.box.box-solid.box-info {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-info>.box-header {
    color: #fff;
    background: #00c0ef;
    background-color: #00c0ef;
}
.box.box-solid.box-info>.box-header a, .box.box-solid.box-info>.box-header .btn {
    color: #fff;
}
.box.box-solid.box-danger {
    border: 1px solid #dd4b39;
}
.box.box-solid.box-danger>.box-header {
    color: #fff;
    background: #dd4b39;
    background-color: #dd4b39;
}
.box.box-solid.box-danger>.box-header a, .box.box-solid.box-danger>.box-header .btn {
    color: #fff;
}
.box.box-solid.box-warning {
    border: 1px solid #f39c12;
}
.box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #f39c12;
    background-color: #f39c12;
}
.box.box-solid.box-warning>.box-header a, .box.box-solid.box-warning>.box-header .btn {
    color: #fff;
}
.box.box-solid.box-success {
    border: 1px solid #00a65a;
}
.box.box-solid.box-success>.box-header {
    color: #fff;
    background: #00a65a;
    background-color: #00a65a;
}
.box.box-solid.box-success>.box-header a, .box.box-solid.box-success>.box-header .btn {
    color: #fff;
}
.box.box-solid>.box-header>.box-tools .btn {
    border: 0;
    box-shadow: none;
}
.box.box-solid[class*='bg']>.box-header {
    color: #fff;
}
.box .box-group>.box {
    margin-bottom: 5px;
}
.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
}
.box>.overlay, .overlay-wrapper>.overlay, .box>.loading-img, .overlay-wrapper>.loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%}
.box .overlay, .overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}
.box .overlay>.fa, .overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}
.box .overlay.dark, .overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}
.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table;
}
.box-header:after, .box-body:after, .box-footer:after {
    clear: both;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header h4 {font-weight: 600;  text-transform: capitalize;}
.collapsed-box .box-header.with-border {
    border-bottom: none;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
    margin-right: 5px;
}
.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.box-header>.box-tools [data-toggle="tooltip"] {
    position: relative;
}
.box-header>.box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}
.open .btn-box-tool, .btn-box-tool:hover {
    color: #606c84;
}
.btn-box-tool.btn:active {
    box-shadow: none;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.box-body>.table {
    margin-bottom: 0;
}
.box-body .fc {
    margin-top: 5px;
}
.box-body .full-width-chart {
    margin: -19px;
}
.box-body.no-padding .full-width-chart {
    margin: -9px;
}
.box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}
.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}
.direct-chat.chat-pane-open .direct-chat-contacts {
    -webkit-transform: translate(0,  0);
    -ms-transform: translate(0,  0);
    -o-transform: translate(0,  0);
    transform: translate(0,  0);
}
.direct-chat-messages {
    -webkit-transform: translate(0,  0);
    -ms-transform: translate(0,  0);
    -o-transform: translate(0,  0);
    transform: translate(0,  0);
    padding: 10px;
    height: 400px;
    overflow: auto;
}
.direct-chat-msg, .direct-chat-text {
    display: block;
}
.direct-chat-msg {
    margin-bottom: 10px;
}
.direct-chat-msg:before, .direct-chat-msg:after {
    content: " ";
    display: table;
}
.direct-chat-msg:after {
    clear: both;
}
.direct-chat-messages, .direct-chat-contacts {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444;
}
.direct-chat-text:after, .direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}
.direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
}
.direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
}
.right .direct-chat-text {
    margin-right: 50px;
    margin-left: 0;
}
.right .direct-chat-text:after, .right .direct-chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #d2d6de;
}
.direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
}
.right .direct-chat-img {
    float: right;
}
.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}
.direct-chat-name {
    font-weight: 600;
}
.direct-chat-timestamp {
    color: #999;
}
.direct-chat-contacts-open .direct-chat-contacts {
    -webkit-transform: translate(0,  0);
    -ms-transform: translate(0,  0);
    -o-transform: translate(0,  0);
    transform: translate(0,  0);
}
.direct-chat-contacts {
    -webkit-transform: translate(101%,  0);
    -ms-transform: translate(101%,  0);
    -o-transform: translate(101%,  0);
    transform: translate(101%,  0);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 250px;
    width: 100%;
    background: #222d32;
    color: #fff;
    overflow: auto;
}
.emoji{
    display: inline-block;
    height: 18px;
    width: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -7px;
    margin-right: 2px;
    transform: translate3d(0px, 3px, 0px);
}
.direct-chat-danger .right>.direct-chat-text {
    background: #dd4b39;
    border-color: #dd4b39;
    color: #fff;
}
.direct-chat-danger .right>.direct-chat-text:after, .direct-chat-danger .right>.direct-chat-text:before {
    border-left-color: #dd4b39;
}
.direct-chat-primary .right>.direct-chat-text {
    background: #b3b3b3;
    border-color: #b3b3b3;
    color: #fff;
}
.direct-chat-primary .right>.direct-chat-text:after, .direct-chat-primary .right>.direct-chat-text:before {
    border-left-color: #b3b3b3;
}
.direct-chat-warning .right>.direct-chat-text {
    background: #f39c12;
    border-color: #f39c12;
    color: #fff;
}
.direct-chat-warning .right>.direct-chat-text:after, .direct-chat-warning .right>.direct-chat-text:before {
    border-left-color: #f39c12;
}
.direct-chat-info .right>.direct-chat-text {
    background: #00c0ef;
    border-color: #00c0ef;
    color: #fff;
}
.direct-chat-info .right>.direct-chat-text:after, .direct-chat-info .right>.direct-chat-text:before {
    border-left-color: #00c0ef;
}
.direct-chat-success .right>.direct-chat-text {
    background: #00a65a;
    border-color: #00a65a;
    color: #fff;
}
.direct-chat-success .right>.direct-chat-text:after, .direct-chat-success .right>.direct-chat-text:before {
    border-left-color: #00a65a;
}
.box-footer form {border: none; background-color: #d2d6de;}


.bg-white {
    background-color: #fff;
}

.friend-list {
    list-style: none;
    margin-left: -40px;
    margin-top: 43px;
    -webkit-transform: translate(0,  0);
    -ms-transform: translate(0,  0);
    -o-transform: translate(0,  0);
    transform: translate(0,  0);

    height: 80%;
    overflow-y: scroll;
}



.friend-list li {
    border-bottom: 1px solid #eee;
    background-color: #d9d9d9;   
}

.friend-list li:hover{
    background-color: #3b5283;

}
.friend-list ul li.active { position:relative; /*background:#3b5283; */}
.friend-list li.active a { background:#3b5283; color: #ffffff; }

.friend-list li a img {
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 0px;
}

.friend-list li a {
    position: relative;
    display: block;
    padding: 10px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

/*.friend-list li.active a {
  background-color: #f1f5fc;
}*/

.friend-list li a .friend-name{  color: #000000;
                                 text-align: center; } 
.friend-list li a .friend-name:hover {
    color: #ffffff;
    text-align: center;
}

.friend-list li a .last-message {
    width: 65%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.friend-list li a .time {
    position: absolute;
    top: 10px;
    right: 8px;
}

small, .small {
    font-size: 85%;
}

.friend-list li a .chat-alert {
    position: absolute;
    right: 8px;
    top: 27px;
    font-size: 10px;
    padding: 3px 5px;
}



.primary-font {
    color: #3c8dbc;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    outline: 0;

}


.message-icon{padding-top: 10px;}
/* notification*/
#notification_li{position:relative}
#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 26px;
    margin-top:32px;
    z-index: 2;
    display: none;
    float:left;
    width: 320px;

}
/*#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 26px;
    margin-top: 32px;
    float: left;
    / width: 350px; /
*/
#notificationContainer:before {
    content: '';
    display: block;


    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent #e9eaed;
    margin-top: -18px;
    margin-left:18px;
}
#notificationsBody {
    padding: 0px 0px 0px 0px !important;


    overflow-y: scroll;
    height: 350px;

}
#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border-top: 1px solid #dddddd;

}
#notificationFooter a { text-decoration: none; color: #3b5283; padding:3px 21px; }
#notificationFooter a:hover { text-decoration: none; color: #000; }
#notificationFooter a:focus { outline: none; text-decoration: none; width:100%;  }
#notificationTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 18px;
    background-color: #e9eaed;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}
.notification-data-inside{margin-left:100px; margin-top:-55px;}
.notification-data-inside h6 {font-size: 15px;}
.notification-database{height:68px; width:295PX;; background-color:#FFFFFF; border-bottom: 1px solid #999999;}
.notification-pic{height:50px; width:50px; border-radius: 50%; margin-left:20px; margin-top:10px;     }
.notification-pic img{    border-radius: 100%;
                          -webkit-border-radius: 100% ; height:50px; width:50px;}
/* inbox*/
#Inbox_li{position:relative}
#inbox {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 18px;
    background-color: #e9eaed;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}


#InboxContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 26px;
    margin-top:32px;

    float:left;
    width: 320px;
    z-index: 2;
    display: none;
}
#InboxContainer:before {
    content: '';
    display: block;


    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent #e9eaed;
    margin-top: -18px;
    margin-left:18px;
}
#InboxBody {
    padding: 0px 0px 0px 0px !important;
    min-height:300px;
}
#InboxFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    width:100%;
    margin-top:-20px;

    border-top: 1px solid #dddddd;
}

#InboxFooter a { text-decoration: none; color: #3b5283; padding:3px 21px; }
#InboxFooter a:hover { text-decoration: none; color: #000; }
#InboxFooter a:focus { outline: none; text-decoration: none; width:100%;  }
#Inbox_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}

.inbox-data-inside{margin-left:100px; margin-top:-50px;}
.inbox-database{height:60px; width:350PX;; background-color:#FFFFFF; border-bottom: 1px solid #999999;}
.inbox-pic{height:50px; width:50px; border-radius: 50%; margin-left:20px; margin-top:10px;     }
.inbox-pic img{    border-radius: 100%;
                   -webkit-border-radius: 100% ; height:50px; width:50px;}
.profile-job-post-location-name form{border: none;}
.job-saved-box .rec-edit-pro {margin-top: -45px;}
.rec-edit-pro ul { font-size: 0; margin: 0; padding: 0; }
.rec-edit-pro ul li { list-style: none; display: inline-block; padding: 0; margin: 0; position: relative; }
.rec-edit-pro ul li a {  color: #fff; padding: 12px 21px 12px;  display: block;  }



abbr { cursor: help; }
.tooltip { position:absolute; background-color:#3b5283; color: #ffffff;
           border: 1px solid #aaaaca; font-size: smaller; padding:4px; width: 160px;
           box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
           -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);	}


.box-body { min-height:70%; }




.job-saved-box .notification-box ul { font-size: 0; margin: 0; padding: 10px; }
.job-saved-box .notification-box ul li
{ list-style: none; 
  padding: 10px; 
  margin: 10px; 
  position: relative;
  border: 2px solid #bfbfbf; }

.buisness-profile-pic img {height: 150px; width: 30%;}

.buisness-contact-head {    background: #e6e6e6;
                            padding: 2px;
                            padding-left: 10px;
                            margin: -11px -0px 20px;
}
.business_pf_ct_ {background-color: #f8f8f8;}



/*popup form for text*/ 

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*popup form text*/




.job_carrier_checkbox{margin-top: 10px;}
.job_carrier_checkbox input{width: 14px;}




.follow-img {}
.profile-job-post-location-name ul li .follow-img img{border-radius: 100%; height:8%; width:60px; margin-bottom: 10px;}
.profile-job-post-location-name ul li .follow-li-text{    font-size: 18px;
                                                          color: #ffffff;
                                                          padding: 16px 21px 20px;
                                                          font-weight: 400;}
.follow-box ul li .Frnd_req-pic{height:100px; width:100px;  margin-left: 10px;margin-top: 6px;  border-radius: 100%;  }
.follow-box ul li .Frnd_req-pic img{    border-radius: 100%;
                                        -webkit-border-radius: 100% ; }
/* .follow-box{ border: 2px solid #efefef; margin: 10px; }*/
.job-saved-box .follow-box ul li a  { font-size: 18px; color: #ffffff; padding: 16px 21px 20px; font-weight: 400;  }
.profile-job-post-location-name ul li .btn-frnd-req {
    margin-top: -43px;
    margin-right: 15px;
    background-color: rgb(59, 82, 131);
    padding: 10px 25px;}
.profile-job-post-location-name ul li .btn-frnd-req a {color: #ffffff;}
.profile-job-post-title-inside .profile-job-profile-button  .job-all-post-lastdate-date{padding-left: 10px;}

/* profile box*/

.win10-wrapper .profile-box {
    display: none
}
.profile-box.fixed-profile-box {
    position: fixed
}
.profile-box .profile-box-left-placeholder {
    float: left;
    visibility: hidden
}
.flipped-profile-box .profile-box {
    float: right;
    margin-left: 10px
}.profile-box .SignupCallOut {
    margin-bottom: 10px
}

.profile-boxProfileCard {
    border: 11px solid #ffffff;
    background: #fff;
    box-shadow: 0px 0px 20px 2px #bfbfbf;border-radius: 3px;

    /*border-radius: 6px*/
}
.profile-boxProfileCard--withoutStats {
    padding-bottom: 10px
}
.profile-boxProfileCard-content{background-color: #f2f2f2;}
.profile-boxProfileCard-bg {
    background-size: 100%;
    /*    border-bottom: 1px solid #e1e8ed;
    */height: 95px;
    border-radius: 4px 4px 0 0;
    background-position: 0 50%;
    width: 100%;
    padding: 0 1px;
    margin-left: -1px;
    margin-top: -1px;

}
.profile-boxProfileCard-avatarLink {
    background-color: #fff;
    border-radius: 0px;
    margin: -66px 0 0 16px;
    /* padding: 1px; */
    border: 3px solid #ffffff;
    /* box-shadow: 0px 0px 2px 2px #dad3cb; */
    margin-bottom: 4px;
    vertical-align: bottom;
}
.profile-boxProfilebuisness-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    margin: -15px 0 0 7px;
    padding: 1px;
    vertical-align: bottom;
}
.profile-boxProfilebuisness-avatarLink2{   background-color: #fff;
                                           border-radius: 6px;
                                           margin: 11px 0 0 12px;
                                           padding: 1px;
                                           vertical-align: bottom; 
                                           border: 3px solid #ffffff;
                                           box-shadow: 0px 0px 2px 2px #dad3cb;}
.profile-boxProfileCard-avatarContainer {
    width: 72px
}
.profile-boxProfileCard-avatarContainer .dropdown.center {
    float: none;
    right: auto
}
.profile-boxProfileCard-avatarContainer .dropdown.center .dropdown-menu {
    position: absolute;
    left: -64px;
    top: 32px
}
.profile-boxProfileCard-tweetbox {
    border: 1px solid;
    padding: 12px;
    width: 264px;
    margin-left: -1px;
    margin-bottom: -1px
}
.profile-boxProfileCard-tweetbox .tweet-box {
    padding: 11px;
    font-size: 14px;
    color: #8899a6
}
.profile-boxProfileCard-tweetbox .Icon--geo {
    margin: 0
}
.profile-boxProfileCard-tweetbox .photo-selector .text {
    display: none
}
.profile-boxProfileCard-tweetbox .condensed .tweet-box {
    padding-right: 30px
}
.profile-boxProfileCard-tweetbox .tweet-action {
    background-image: none;
    text-shadow: none
}
.profile-boxProfileCard-bg {
    background-size: 100%;
    /* border-bottom: 1px solid #e1e8ed; */
    height: 95px;
    border-radius: 4px 4px 0 0;
    background-position: 0 50%;
    width: 100%;
    padding: 0 1px;
    margin-left: -1px;
    margin-top: -1px;
}
/*.a-block {
   // display: block!important;
}*/
.a-inlineBlock {
    display: inline-block!important;
    max-width: 100%;
    z-index: 3;
    position: relative;
}
.profile-box-user .profile-box-name a{padding-left: 10px;}

.profile-box-user .profile-boxProfile-name a{padding-left: 10px;}

.profile-box-menu{padding-right: 2px !important;}
.profile-box-bui-menu{padding-right: 2px !important;     margin-top: -38px;
                      border-top: 1px solid #d9d9d9;}
.all-form-content{padding-left: 2px !important;}
.profile-box-menu-2{padding-right: 2px !important;}
.right-section{padding-right: 2px !important;}
.profile-box-user{padding-right: 1px !important;  padding-left: 6px !important;
}
.buisness-profile-txext{padding-right: 1px !important; padding-left: 1px !important;}


.profile-boxProfileCard .profile-box-menu {margin-left: 0px; /*border-top: 1px solid #d9d9d9;*/ border-bottom: 1px solid #d9d9d9;}
.profile-boxProfileCard .profile-box-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.profile-boxProfileCard .profile-box-menu li {
    float: left;

}

.profile-boxProfileCard .profile-box-menu li:last-child {
    border-right: none;
}
.profile-boxProfileCard .profile-box-menu li a {
    margin-right:0px;
    display: block;
    color: #3b5283;
    text-align: center;
    padding: 5px 12px;

    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.profile-boxProfileCard .profile-box-menu ul li{margin: 0px; }  
.profile-boxProfileCard .profile-box-menu li a:hover{background-color: #3b5283; color: #ffffff; -webkit-transform: scale(1.2);
                                                     transform: scale(1.2);
                                                     -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
                                                     transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);}

.profile-box-menu-2 {margin-left: 0px; border-bottom: 1px solid #d9d9d9;}
.profile-box-menu-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.profile-box-menu-2 li {
    float: left;

}

.profile-box-menu-2 li:last-child {
    border-right: none;
}
.profile-box-menu-2 li a {
    margin-right:0px;
    display: block;
    color: #3b5283;
    text-align: center;
    padding: 5px 9px;

    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.profile-box-menu-2 ul li{margin: 0px;}
.profile-box-menu-2 li a:hover{background-color: #3b5283; color: #ffffff; -webkit-transform: scale(1.2);
                               transform: scale(1.2);
                               -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
                               transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);}


.profile-box-menu-job ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.profile-box-menu-job li {
    float: left;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #3b5283;

}

.profile-box-menu-job li:last-child {
    border-right: none;
}
.profile-box-menu-job li a {
    margin-right:16px;
    display: block;
    color: #3b5283;
    text-align: center;
    padding: 1px 0px;

    text-decoration: none;
    font-size: 15px;
    font-weight: 600;

}


.profile-box-menu-art ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.profile-box-menu-art li {
    float: left;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #3b5283;

}

.profile-box-menu-art li:last-child {
    border-right: none;
}
.profile-box-menu-art li a {
    margin-right:16px;
    display: block;
    color: #3b5283;
    text-align: center;
    padding: 1px 5px;

    text-decoration: none;
    font-size: 10px;
    font-weight: 600;

}

.impor {margin-left: 0px; 
        margin-top: 10px;
        border-top: 1px solid #d9d9d9;
        margin-top: -25px;
}
.profile-box-bui-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;    /*overflow: hidden;
    */
}
.user-section-free-up{height: 38%;}

.profile-box-bui-menu li {
    float: left;
    /* margin-right: -2px;*/
    /*  border-right: 1px solid #000000;
border-bottom: 1px solid #3b5283;
    */
}
.bg-images{/*border-left: 2px solid #d9d9d9;*/ position: relative;}
.bg-images:after { background: rgba(76,76,76,0.02);
                   background: -moz-linear-gradient(top, rgba(76,76,76,0.02) 0%, rgba(19,19,19,0.3) 100%);
                   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,0.03)), color-stop(100%, rgba(19,19,19,1)));
                   background: -webkit-linear-gradient(top, rgba(76,76,76,0.02) 0%, rgba(19,19,19,0.3) 100%);
                   background: -o-linear-gradient(top, rgba(76,76,76,0.02) 0%, rgba(19,19,19,0.3) 100%);
                   background: -ms-linear-gradient(top, rgba(76,76,76,0.02) 0%, rgba(19,19,19,0.3) 100%);
                   background: linear-gradient(to bottom, rgba(76,76,76,0.02) 0%, rgba(19,19,19,0.3) 100%);
                   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
                   display: block; width: 100%; height: 25%;  content: ""; position: absolute; bottom: 0; left: 0; }
.bg-bg{border-left: 2px solid #d9d9d9; position: relative;}
.bg-bg:after{content: ""; position: absolute;}
.man-menu-bui {border-bottom: 1px solid;}

.profile-box-bui-menu li:last-child {
    border-right: none;
}
.profile-box-bui-menu li a:hover{background-color: #3b5283; color: #ffffff;}
.profile-box-bui-menu li a {
    margin-right:2px;
    display: block;
    color: #3b5283;
    text-align: center;
    padding: 1px 12px;
    text-decoration: none;
    font-size: 16px;
    color: #3b5283;
    font-weight: 600;

}
.btn-3b {
    padding:11px 32px 11px 27px;
    border-radius: 10px;
}

.btn-3 {
    background: #3b5283;
    color: #fff;
}
.add-post-button {margin: 10px;}
/*
.profile-box-menu li a:hover {
    background-color: #111;
}*/


.profile-main-box-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: -100px;

}

.profile-main-box-menu li {
    float: left;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #3b5283;

}

/*.profile-main-box-menu li:last-child {
    border-right: none;
}
*/.profile-main-box-menu li a {
    margin-right:10px;
    display: block;
    color: #3b5283;
    text-align: center;
    padding:12px 88px  12px  94px;

    text-decoration: none;
    font-size: 18px;
    font-weight: 600;

}
.profile-main-rec-box-menu{margin-top: -80px;
                           border-left: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; z-index: -1;}

.profile-main-rec-box-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.profile-main-rec-box-menu li {
    float: left;
    /*   border-right: 1px solid #000000;*/

}

/*.profile-main-box-menu li:last-child {
    border-right: none;
}
*/.profile-main-rec-box-menu li a {
    display: block;
    color: #3b5283;
    text-align: center;
    padding:15px 21px;

    text-decoration: none;
    font-size: 18px;
    font-weight: 600;

}
.profile-main-rec-box-menu{padding-bottom: 5px;background-color:white;}  .profile-main-rec-box-menu ul li.active { position:relative; /*background:#3b5283; */}
.profile-main-rec-box-menu ul li.active a { background:#3b5283; color: #ffffff; }


.profile-main-rec-box-menu li a:hover{
    background-color:#3b5283;
    color: #ffffff;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #3b5283;
    color: #ffffff;

}
.right-side-menu{float: left; height: 47px;    margin-left: 10px;
}
.left-side-menu {width: 20%;
                 float: left;
                 height: 47px;
                 border-right: none; }
.job-menu-profile1 {    float: left;
                        padding-left: 40px;
                        margin-top: 15px;
                        width: 22.5%;   }

.profile-main-box-buis-menu li a {
    margin-right:10px;
    display: block;
    color: #3b5283;
    text-align: center;
    padding:22px 22px 22px 22px;
    height: 66px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.profile-main-box-buis-menu li a:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #3b5283;
    color: #ffffff;
    border-bottom: 5px solid #3b5283;}
.profile-main-box-buis-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 0px;
    padding-right: 37px;
    margin-left: -16px;
    /*margin-left: 164px;
    */}

.profile-main-box-buis-menu li {
    float: left;
    /*  border: 1px solid #000000;
    */  margin:0px;
    color: #ffffff;

}
.buisness-menu {    padding-bottom: 1px;
                    box-shadow: 1px 1px 6px 1px #efefef;
                    width: 100%;
                    border-bottom: 1px solid #d9d9d9; 
                    border-left: 1px solid #d9d9d9;
                    border-right:  1px solid #d9d9d9;
                    padding-top: 19px;
                    float: left;}

/* tabing */

/* Style the tab */
.tablet-hi {
    overflow: hidden;
    border: 1px solid #3b5283;
    background-color: #4f6eb0;
}

/* Style the links inside the tab */
.tablet-hi a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 55px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
.tablet-hi a:hover {
    background-color: #3f588d;
    color: #ffffff;
}

/* Create an active/current tablink class */
.tablet-hi a:focus, .active2 {
    background-color: #3f588d;
    color: #ffffff;
}
/* li:focus, .active{ background-color: #3f588d;
    color: #ffffff;}
*/    .profile-main-box-buis-menu ul li.active { position:relative; background:#3b5283; }
.profile-main-box-buis-menu ul li.active a { background:#3b5283; color: #ffffff; }
/*.profile-main-box-buis-menu ul li.active:after { content:"\f00c"; font-family: 'FontAwesome'; position:absolute; top:11px; right:8px; color:#fff; }
*/

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.topright:hover {color: red;}

.buisness-data-menu{
    /* border-bottom: 1px solid #d9d9d9; */
    border-top: 1px solid #d9d9d9;
    /* z-index: -1;
    */ margin-top: -43px;
    /* border: 1px solid; */
    /* top: -70px; */
}




.profile-company-name a{font-size: 16px;margin-left: 1px;  text-shadow: 0px 10px 26px rgba(230, 230, 230,0.4), 0px 8px 7px rgba(0,0,0,0.1), 0px 11px 14px rgba(230,230,230,0.9);
                        font-weight: 600;}
.add-post-button a:hover{color: #ffffff;}
.buisness-profile-txext {z-index: 1; position: relative; display: inline-block; width: 24%;}
/*cover pic */
.croppie-container .cr-slider-wrap{display: none;}



.profile-boxProfileCard-content .buisness-profile-txext a img{height: 68px; width: 68px;     
                                                              z-index: 3;
                                                              position: relative;}

/*post - popup- form*/

.post-editor{ height: auto; background-color: #ced5df;     box-shadow: 9px 5px 20px -4px #bfbfbf;  padding: 5px;
              padding-left: 14px;
              padding-right: 15px; 
              border-radius: 4px; margin-bottom: 10px; border: 1px solid #cccccc;}
.popup-img img{      border: 2px solid #ffffff;
                     height: 55px;
                     width: 51px;
                     margin-left: -9px;
                     margin-top: 5px;
                     margin-bottom: 5px;
}
.popup-text span{color: #999999;}
.post-editor .popup-textarea p{color: #999999;}
.post-editor .popup-text span i{font-size: 25px; color: #0a2c5d; }
.popup-img{    padding-left: 2px !important; padding-right: 0px;}
.popup-text{padding: 10px;}
.main-text-area{background-color: #ffffff; margin: 4px 0px 4px 0px; border-radius: 4px;    padding-left: px !important;}
/* The Modal (background) */
.modal-post {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-post {
    margin: auto;
    padding: 20px;
    width: 50%;

}

/* The Close Button */
.close1 {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-textarea textarea {
    width: 100%;
    height: 230px;
    color: #999999;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.close-popup {
    color: #000000;
    background-color: #ffffff;
    float: left;
    margin-left: -20px;
    font-size: 28px;
    font-weight: bold;
    margin-top: 25px;
}

.close-popup:hover,
.close-popup:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.popup-social-icon{background-color: #ffffff; margin-bottom: 10px;}
.post-editor .popup-social-icon ul { font-size: 0; margin: 0; padding: 0; display: inline-block; }
.post-editor .popup-social-icon ul li { list-style: none; display: inline-block; padding: 0px 20px 0px 20px; margin: 0; position: relative; }
/*.popup-textarea{height: 300px; border-bottom: 4px solid #ced5df; border-top: 4px solid #ced5df; }
*/.post-editor .popup-social-icon ul li i {font-size: 20px; color: #0a2c5d;}
.buisness-popup-img{display: inline-block; margin-top: 25px;}



/*button of add fileld*/
.action-buttons{ background-color: #3b5283;     border-radius: 50px; padding: 4px; margin-top: 40px;}
.action-buttons i{color: white;}


/*coverpic*/
label.cameraButton i{font-size: 26px}
#row2 { overflow: hidden; width: 100%; border: 1px solid #d9d9d9; border-top: none;}
#row2 img { height: 350px;width: 100%; } 
.upload-img { float: right;
              position: relative; margin-top: -135px; right: 50px; }

label.cameraButton {
    display: inline-block;
    margin: 1em 0;
    cursor: pointer;
    /* Styles to make it look like a button */
    padding: 0.5em;
    border: 2px solid #666;
    border-color: #EEE #CCC #CCC #EEE;
    background-color: #DDD;
    opacity: 0.7;
}

/* Look like a clicked/depressed button */
label.cameraButton:active {
    border-color: #CCC #EEE #EEE #CCC;
}
.cancel-result{float: right;
               display: block;
               margin-right: 36px;}

.set-btn{float: right;
         display: block;
         margin-right: 36px;}
/* This is the part that actually hides the 'Choose file' text box for camera inputs */
label.cameraButton input[accept*="camera"] {
    display: none;
}
.full-box-module{border: 1px solid #999999; border-radius: 3px; margin-bottom: 10px;}


/*loader*/

#floatBarsG{
    position:relative;
    width:540px;
    height:65px;
    margin:auto;
}

.floatBarsG{
    position:absolute;
    top:153px;
    background-color:rgb(12,49,104);
    width:65px;
    height:65px;
    animation-name:bounce_floatBarsG;
    -o-animation-name:bounce_floatBarsG;
    -ms-animation-name:bounce_floatBarsG;
    -webkit-animation-name:bounce_floatBarsG;
    -moz-animation-name:bounce_floatBarsG;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
}

#floatBarsG_1{
    left:0;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#floatBarsG_2{
    left:68px;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#floatBarsG_3{
    left:135px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#floatBarsG_4{
    left:203px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#floatBarsG_5{
    left:270px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#floatBarsG_6{
    left:338px;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#floatBarsG_7{
    left:405px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}

#floatBarsG_8{
    left:473px;
    animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -ms-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
}



@keyframes bounce_floatBarsG{
    0%{
        transform:scale(1);
        background-color:rgb(12,49,104);
    }

    100%{
        transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_floatBarsG{
    0%{
        -o-transform:scale(1);
        background-color:rgb(12,49,104);
    }

    100%{
        -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_floatBarsG{
    0%{
        -ms-transform:scale(1);
        background-color:rgb(12,49,104);
    }

    100%{
        -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_floatBarsG{
    0%{
        -webkit-transform:scale(1);
        background-color:rgb(12,49,104);
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_floatBarsG{
    0%{
        -moz-transform:scale(1);
        background-color:rgb(12,49,104);
    }

    100%{
        -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

.profile-boxProfileCard-cover{border: 1px solid #efefef; border-bottom: none;}

/*post design*/
.post-design-box{ padding-left: 0px; padding-right: 0px; /*border: 1px solid #bfbfbf;*/ margin-bottom: 20px; ;     box-shadow: 2px 8px 20px 0px #bfbfbf}
.post-design-top
{ padding: 5px; padding-bottom: 0px; background-color: #ffffff;   border: 1px solid #efefef; border-bottom: none; }
.post-design-pro-img{height: 55px; width: 70px; display: inline-block; float: left; padding: 4px 4px 4px 16px;}
.post-design-pro-img img{ height: 100%; width: 100%; border: 1px solid #efefef; }

.post-design-proo-img{display: inline-block; width: 42px; height: 39px;float: left;/* padding: 10px 10px 10px 6px;*/}


.post-design-proo-img img{ height: 100%; width:100%;  }
.post-design-mid{ background-color: #ffffff; border-bottom: 6px solid #f6f4f5;
                  background-color: #ffffff;

                  border: 1px solid #efefef;
                  border-bottom: none;
                  border-top: none;
}
.post-design-pro-comment-img{margin-top:3px ;display: inline-block; width: 40px; height: 39px;  float: left;/* padding: 10px 10px 10px 6px;*/}
.post-design-pro-comment-img img{ height: 100%; width: 100%;  }

.post-design-product-img {padding:10px 5px 10px 5px; width: 100%; height: 350px;}
.post-design-like-box{background-color: #ffffff;   padding-top: 10px; border: 1px solid #efefef; border-bottom: none;}
.post-design-commnet-box{padding-left: 22px; background-color: #e6eaef; border: 1px solid #e6eaef; padding-top: 10px; }
.post-design-menu ul { font-size: 0; margin: 0; padding: 0; }
.post-design-menu ul li { list-style: none; display: inline-block; padding: 0; margin: 0; position: relative; }
.post-design-menu ul li a { font-size: 18px; color: #3b5283; padding: 10px 15px 10px; font-weight: 400; display: block;  }
.post-design-menu ul li a i {cursor: pointer; font-size: 22px;}
.post-design-menu ul li a:hover { background: #fff; color: #3b5283; }
.post-design-name ul li a h6 { 
    font-weight: 600;
}
.post-design-name ul li a span{word-spacing: 3px; color: #91949d; font-size: 14px;}
.post-design-name ul li a span:before{content: "\00b7";
}
.post-design-name ul { font-size: 0; margin: 0; padding: 0; }
.post-design-name ul li { list-style: none;  padding: 0; margin: 0; position: relative; }
.post-design-name ul li a {    
    color: #000000;
    margin-top: 10px;
    padding: 0px 8px; 
    font-weight: 400;
    line-height: 12px;
    display: block;}

.post-design-desc{clear: both; padding: 8px 18px 0px 18px;  text-align: justify;}
.post-design-product-img img {width: 100%; height: 100%; border:1px solid #cccccc; border-radius: 3px;}
.popup-comment{padding: 8px;  }

.fr{float: right;}
.further-post{font-weight: 600;}

.dropbtn {
    color: white;

    padding: 0px 10px 0px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
*/
.dropdown1 a {color: #000000;padding: 5px 10px;cursor: pointer;}
.dropdown1 .fa-ellipsis-v {color: #999999;}
.dropdown1 {
    float: right;
    position: relative;
    display: inline-block;

}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content1 a {
    color: #0a2c5d;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

.dropdown1 a:hover {background-color: #f1f1f1}

.dropdown2 a {color: #000000;}
.dropdown2 .fa-ellipsis-v {color: #999999;}
.dropdown2 {
    float: right;
    position: relative;
    display: inline-block;

}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content2 a {
    color: #0a2c5d;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

.dropdown2 a:hover {background-color: #f1f1f1}

.show {display:block;}
.main_ctnt {
    border: 1px solid #000000;
    margin: 100px;
    padding: 15px;
    width: 650px;
}
.show {
    font:normal 15px arial;
    text-align: justify;

}
.morectnt span {
    display: none;
}
.showmoretxt {
    font: bold 15px tahoma;
    text-decoration: none;
}
.art-all-comment{    background-color: #e6eaef;
                     padding-top: 10px;
                     padding-left: 22px;
                     border: 1px solid #efefef;
                     border-bottom: none; }
.buisness-profile-pic-candidate{width: 50px; height: 50px; display: inline-block;}
.buisness-profile-pic-candidate img{width: 100%; height: 100%;}

.comment-details-menu{ display: inline-block;     padding: 1px 4px 1px 4px; }
.comment-edit-button button{padding: 10px 14px 10px;}
.comment-name
{    font-size: 17px;
     font-weight: 600;
     display: inline-block;margin-left: 16px; }
.art-comment-menu-design{    padding: 5px 1px 0px 35px;margin-left: 19px;}

.comment-details-menu a{cursor: pointer; color: #999999;}
.comment-details-menu p{ color: #999999;}
.comment-details-menu a:hover{border-bottom: 2px solid #0a2c5d; }
.comment-edit-butn{padding: 0px 0px 6px 0px;}
.comment-edit-butn button{    padding: 9px 12px 9px;
                              border-radius: 3px;
                              letter-spacing: 0px;
                              margin-left: -11px;}
.comment-details{ padding-left: 57px; }
.inputtype-comment input{ padding: 8px 15px; }
.all-comment-comment-box span{color: #999999;}
/*education new design*/
.tabordion {

    display: block;
    font-family: arial, sans-serif;
    margin: auto;
    position: relative;
    width: 80%;
}

.tabordion input[name="sections"] {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.tabordion section {
    display: block;
}

.tabordion section .label-d {
    background: #728bc0;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 17px 6px;
    position: relative;
    width: 220px;
    z-index: 100;
}

.tabordion section article {
    display: none;
    left: 230px;
    min-width: 300px;
    padding: 0 0 0 21px;
    position: absolute;  
    top: 0;
}
/*
.tabordion section article:after {
 
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}
*/
.job-saved-box_2{height: 100%;    border: 2px solid #efefef;
                 border-top: 0;}
.tabordion input[name="sections"]:checked + .label-d { 
    background: #3b5283;
    color: #fff;
}
.tabordion input[name="sections"]:checked + label:after { content:"\f00c"; font-family: 'FontAwesome'; position:absolute; top:11px; right:8px; color:#fff; }

.tabordion input[name="sections"]:checked ~ article {
    display: block;
}


@media (max-width: 533px) {

    h1 {
        width: 100%;
    }

    .tabordion {
        width: 100%;
    }

    .tabordion section label {
        font-size: 1em;
        width: 160px;
    }  

    .tabordion section article {
        left: 200px;
        min-width: 270px;
    } 

    .tabordion section article:after {
        background-color: #ccc;
        bottom: 0;
        content: "";
        display: block;
        left:-199px;
        position: absolute;
        top: 0;
        width: 200px;

    }  

}


@media (max-width: 768px) {


    .tabordion {
        width: 96%;
    }
}


@media (min-width: 1366px) {


    .tabordion {
        width: 100%;
    }
}
.dropbtn_h {
    font-size: 18px; color: #fff; padding: 8px 16px 8px; display: block;
}

.dropbtn_h:hover, .dropbtn_h:focus {
    background-color: #3e8e41;
}

.dropdown_h {


}

.dropdown-content_h {
    border-radius: 5px;
    /* border: 1px solid; */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 182px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    top: 40;
    z-index: 2;
    text-align: -webkit-auto;}
.dropdown-content_h:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent #fff;
    margin-top: -18px;
    margin-left: 150px;
}
#myDropdown_h a{color: #3b5283; font-size: 13px; font-weight: 600; padding: 8px 5px 8px; }
#myDropdown_h a i {padding-right: 15px;}
#myDropdown_h a:hover{color: #fff;}
.dropdown-content_h a {
    color: black;
    padding: 8px 16px 8px;
    text-decoration: none;
    display: block;
}

.dropdown_h a:hover {    background: #6982b6;
                         color: #fff;}

.show {display:block;}

/*
follow box*/
.post-design-pro-img_follow{height:65px; width: 70px; display: inline-block; float: left; padding:11px 4px 0px 8px;}
.post-design-pro-img_follow img{ height: 100%; width: 100%; border: 1px solid #efefef; }
.post-design-name_follow{width: 43%; overflow: hidden;}
.post-design-name_follow ul { font-size: 0; margin: 0; padding: 0; }
.post-design-name_follow ul li { border-bottom: none;  list-style: none;  padding: 0; margin: 0; position: relative;}
.post-design-name_follow ul li a {    
    color: #000000;
    margin-top: 10px;
    padding: 0px 4px; 
    font-weight: 400;
    line-height: 12px;
    display: block;}
.follow_left_main_box { padding-left: 0px; padding-right: 0px; }
.follow_left_box_main_btn button{padding: 7px 14px 7px; border-radius: 3px;}
.follow_left_box_main_btn {    display: inline-block;
                               float: left;

                               padding-top: 23px;}
.Follow_close{float: right;top: 20px;position: absolute;right: 5px;}
.Follow_close i {color: #999999;}
.post-design-name_follow ul li a h6{font-weight: 600;    
}
.post-design-name_follow ul li a p{color: #999999;}

.full-box-module_follow{border: 1px solid #999999; border-radius: 3px; margin-top: 10px;}
.follow_left_box_main{padding:15px;}
.profile-boxProfileCard_follow ul{margin: 0; padding: 0; background-color: #fff;}
.profile-boxProfileCard_follow ul li{list-style: none; padding: 0; margin: 0;margin: 0 auto;width: 95%;}
.follow_box_ul_li{border-bottom: 1px solid #d9d9d9;}
.follow_box_ul_li:last-child{border-bottom:none;}

.profile-boxProfileCard_follow  {position: relative;height: 315px;overflow:hidden;}
.seeall{position: absolute;bottom: 0;}

.saved{ color: #fff !important; background-color: #3b5283 !important; }

.image_profile{height: 120px; float: left;
    width: 120px;
  padding: 8px; }
.image_profile img{width: 100%; height: 100%}

.image_profile video{width: 100%; height: 100%}
.business_data_td1{
    padding-bottom: 5px;
    padding-left: 10px;     
    padding-right: 12px;
    /* padding-top: 6px; */}
.business_data_td1 i{color: #0a2c5d; font-size: 17px;}
.detaile_map i{margin-top: -25px;}
.profile-boxProfileCard  h5{ font-weight: 600;     margin: 0;
    padding: 3px 6px 4px;
    color: #0a2c5d;
 display: inline-block;
    line-height: 28px;}
    .head_details{ text-align: center; }
      .head_details1{ text-align: center; }
    .profile-boxProfileCard .head_details h5:hover{text-decoration: underline;}
    .profile-boxProfileCard  h5 i{padding-right: 7px;}/*
    .profile-boxProfileCard  h5 i:hover{text-decoration: underline;}*/
    .buisness_he_module{height: 47%; padding-left: 5px;}
    .business_data_td2{padding-bottom: 7px;}
    .post_img_mul{position: relative;}
.post_img_mul1{    background-color: rgba(0, 0, 0, .2);
    bottom: 0;
    color: #fff;
    font-size: 35px;
    font-weight: normal;
       height: 167px;
    width: 177px;
    top: 104px;
    left: 549px;
    position: absolute;
    }
.post_img_mul2{   
   position: absolute;
    top: 141px;
    left: 68px;
}
.post_img_mul2 a{color: white !important; font-size: 18px;}
.post_img_mul2 a:hover{text-decoration: underline;}


.post-editor .popup-social-icon ul li i:hover{padding: 5px;background: #c3c3c3;border-radius: 5px;font-size: 20px;}