/**{margin:0px;padding:0px}
body{font-family: Arial, Helvetica, sans-serif;
background-color: #fbfbfb;
color: #333333;}
#container{margin:0 auto;width:900px}
#timelineContainer{width:100%;position:relative}
#timelineBackground {
	
height: 350px;
position: relative;
border-left: 1px solid #333333;
border-right: 1px solid #333333;
margin-top: 0px;
overflow: hidden;
background-color:#ffffff;

}
#timelineProfilePic {
width: 170px;
height: 170px;
border: 1px solid #666666;
background-color: #ffffff;
position: absolute;
margin-top: -145px;
margin-left: 20px;
z-index: 1000;
overflow: hidden;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}
#timelineTitle {
color: #ffffff;
font-size: 24px;
margin-top: -45px;
position: absolute;
margin-left: 206px;
font-weight: bold;
text-rendering: optimizelegibility;
text-shadow: 0 0 3px rgba(0,0,0,.8);
z-index: 999;
text-transform: capitalize;
}

#timelineShade {
min-height: 95px;
position: absolute;
margin-top: -95px;
width: 100%;
}

#timelineNav {
border: 1px solid #d6d7da;
background-color: #ffffff;
min-height:10px;
margin-bottom: 10px;
position: relative;
opacity: 0;
border-bottom-left-radius: 4px;
-moz-border-bottom-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
-moz-border-bottom-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
}


.timelineUploadBG {
	opacity: 0.5;
position: absolute;
margin-top: 0px;
right: 100px;
height: 32px;
width: 32px;
}

.uploadFile {
background: url('images/whitecam.png') no-repeat;
height: 40px;
width: 40px;
overflow: hidden;
cursor: pointer;
}
.uploadFile input {
filter: alpha(opacity=0);
opacity: 0;
margin-left: -110px;
}

.custom-file-input {
height: 40px;
cursor: pointer;
opacity: 0;
}
.bgImage,#timelineBGload
{
width:100%;
height: 500px;
}

.headerimage {
cursor: s-resize;
position: absolute;
}

.wallbutton:hover {
text-decoration: none;
}
.blackButton {
background-color: #666666;
border-color: #333333;
}
.bgSave {
position: absolute;
margin-top: 267px;
right: 50;
z-index: 4000;
}

.wallbutton {
font-weight: bold;
padding: 7px 9px;
background-color: #3b5283;
color: #fff !important;
font-size: 12px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
cursor: pointer;
text-decoration: none;
border-width: 1px 1px 3px !important;
border-style: solid;
border-color: #000000;
white-space: nowrap;

display: -moz-inline-stack;

-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;

}*/