/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
  width:100%;
  height:100%;
  background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
  overflow: hidden;
}

canvas{
  display:block;
  vertical-align:bottom;
}

.header3{background-color: #ffffff;}
.header3 ul { font-size: 0; margin: 0; padding: 0; padding-left: 50px; }
.header3 ul li { list-style: none; display: inline-block; padding: 0; margin: 0; position: relative; }
.header3 ul li a { font-size: 18px; color: #3b5283;     font-size: 18px;
   
       padding: 18px 52px 10px;
    font-weight: 400;
    display: block; font-weight: 400; display: block;}
.header3 ul li a:hover { color: #3b5283; }
.header3 ul li a.active { position:relative; /*background:#3b5283; */  background:#ffffff; color: #3b5283;}
.header3  ul li:active a { background:#ffffff; color: #ffffff; }
/*header3*/
/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
height: 100%;
width: 100%;
  background: #ffffff;
/*  background-image: url(../img/Untitled.jpg);
  background-size: cover;
  background-position: 50% 50%;*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
 ul { font-size: 0; margin: 0; padding: 0; }
 ul li { list-style: none; display: inline-block; padding: 0; margin: 0; position: relative; }
 ul li a { font-size: 18px; color: #3b5283; padding: 10px 10px 10px; font-weight: 400; display: block;}
.header ul li a:hover { background: #3b5283; color: #000000; }
.header { padding: 0; background: #3b5283; border-bottom: 1px solid #3b5283; }
.logo { padding: 8px 0; }

.header { -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.fixed { position: fixed; top:0; left:0; width: 100%; background: #3b5283;    z-index: 9; }

.header ul { font-size: 0; margin: 0; padding: 0; }
.header ul li { list-style: none; display: inline-block; padding: 0; margin: 0; position: relative; }
.header ul li a { font-size: 18px; color: #ffffff; padding: 16px 21px 20px; font-weight: 400; display: block;}
.header ul li a:hover { background: #ffffff; color: #3b5283; }
ul.sub-menu { display: none; position:  absolute; top: 100%; right: 0; color: #3b5283;  width: 274px; z-index: 2; box-shadow: 0px 0px 2px 0px #000; }
ul.sub-menu li { display: block; margin-bottom: 2px; }
ul.sub-menu li a { background: #f4f4f4; padding: 6px 15px; color: #3b5283; font-size: 16px; }
ul.sub-menu li a:hover { background: #ffffff; color: #3b5283; }
ul.sub-menu li a i { padding-right: 5px; }
.header ul li:hover .sub-menu {  display: block; }


/*#particles-js{
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  background-image: url(../img/Untitled-2.png)  ;
   z-index: 100;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}*/
/*.copyright { background: #222222; padding: 10px 0; }
.copyright p i{ color: #3b5283; padding-top: 6px; font-size: 14px; }
.copyright ul { float: right; padding: 0; margin: 0; }
.copyright p { color: #3b5283; padding-top: 6px; font-size: 14px; }

.copyright ul li { list-style: none; display: inline-block; padding: 0; margin: 0; }
.copyright ul li a { background: #000; color: #3b5283; width: 33px; height: 33px; display: inline-block; border-radius: 50%; text-align: center; line-height: 2.3; font-size: 14px; margin: 0 4px;}
.copyright ul li a:hover { background: #3b5283; }
*//*
.banner_cnt{position: relative;top :100px;width: 50%;left: 27%;height: 55%;}
.banner_cnt img{background-size: cover;    height: 100%;
    width:100%;
}
.banner_cnt h2 {font-size: 26px;color: #fff;  margin-top: 23px;margin-bottom: 54px;font-weight: 300;}
*//* font-family: 'FontAwesome'; */

.footer-main{background-color: #ffffff;}
.banner_cnt{position: relative;top :100px;width: 57%;left: 27%;height: 35%;}
.banner_cnt img{background-size: cover;    height: 100%;
    width:100%;
}
.banner_cnt h2 {font-size: 26px;color: #fff;  margin-top: 23px;margin-bottom: 54px;font-weight: 300;}
/* font-family: 'FontAwesome'; */


.fl { float:left; }
.fr { float:right; }

.footer-main{background-color: #ffffff;}


input[type="radio"] {
 height: auto;  
 width: auto;
 display: inline;
    font-size: 10px;
    margin: 0 5px;
    vertical-align: middle;
    display: inline-block;
}

#gen{padding:15px;}

.field-wrap .terms{width: 100%;padding:0px 5px 10px 5px;}

.field-wrap .terms span{font-size: 14px;}

.or{text-align: center;padding: 20px;}
#login2{    width: 100%;
    margin: 0 auto;}
  
.button3 {
    border: 0;
    outline: none;
    padding: 10px 0;
    font-size: 1.0rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
    word-spacing: 5px;
    color: #ffffff;
   display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;


}
.button3:hover{     box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); } 
.button-block3 {
    display: block;
    width: 50%;
    background: red;
    margin: 3px auto;
}
#form-reg {
    background: #ffffff;
    padding: 15px 40px 5px 40px;
    max-width: 100%;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.banner_cnt_reg{position: relative;top :28px;width: 57%;left: 23%;height: 35%;}
 input[type=date]{ font-size: 18px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #a0b3b0;
  border-radius: 3px;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;

 }