@media only screen and (max-width:1199px){
	h1, h1 a { font-size: 32px; line-height: 46px; }
	h2, h2 a { font-size: 30px;  }

	.header ul li a { font-size: 16px; padding: 18px 12px; }
	.midd-section h2 { font-size: 34px; }

	.user-profile { margin-bottom: 20px; padding: 10px 0; }
	.left-side-bar ul li a { padding: 6px 10px; }

	/* Freelancer Post*/
	.freelancer-banner form fieldset { width: 352px; }
	.freelancer-banner { padding: 150px 0; }
	.freelancer-title ul li a { font-size: 16px; }
	.freelancer-title ul li:first-child { width: 74%; vertical-align: top; }
}

@media only screen and (max-width:1023px){
	h1, h1 a { font-size: 26px; line-height: 40px; }
	h2, h2 a { font-size: 24px; line-height: 32px;}

	.header ul { display: none; }
	.title-section { padding: 20px 0; }

	.midd-section h2 { font-size: 24px;}
	.midd-section { padding: 70px 0; }

	.footer { padding: 15px 0; }

	/* Freelancer Post*/
	.freelancer-banner  { padding: 110px 0; }
	.freelancer-banner form fieldset { width: 47%; }
	.freelancer-banner h2 { margin-bottom: 10px; }
	.freelancer-banner form fieldset.submit  { float: right; margin-top: 15px; }

	.user-midd-section { margin: 30px 0; }
	.freelancer-title ul li:first-child { width: 100%; }
	.freelancer-title ul li { padding: 6px 10px; }
}

@media only screen and (max-width:767px){
	h1, h1 a { font-size: 24px; line-height: 36px; }
	h6, h6 a { font-size: 16px; }

	p { font-size: 14px; }

	.title-section { padding: 10px 0; }

	.midd-section h2 { font-size: 22px; margin: 15px 0; }
	.midd-section { padding: 40px 0; }

	.copyright { text-align: center; }
	.copyright ul { float: none; margin-top: 15px; }

	.job-post-detail { margin: 15px 0; }
	.role-model-detail { margin-bottom: 20px;  }

	.job-post-title { padding: 6px 15px; }
	.exper-location { padding: 6px 0; }
	.job-about { padding: 10px 15px; }

	.job-about ul li span { float: right; }
	.job-about ul li { font-size: 14px; margin: 0px 0; padding: 0; display: inline-block; }
	.job-about ul li label { margin: 0; }
	.apply-btn a { padding: 2px 25px 4px; }

	.exper-location ul li a { font-size: 14px; }

	/* Freelancer Post*/
	.found-result { padding: 20px 0 0; }
	.freelancer-post { margin: 10px 0; }
	.freelancer-banner form fieldset { width: 100%; margin-top: 10px; margin-left: 0; }
	.freelancer-banner form fieldset.submit { margin-right: 0; }
	.freelancer-banner { padding: 80px 0; }
	.shedule-interview { margin-top: 20px; } 

}